Repository fospas/Space-Cats-14, pull requests merged in 2024-08, with the labels that each got.

#90 Возвращаю боргам фонарики.
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: No C#

#92 fix sponsor
  Resources/Prototypes/_SpaceCats/Sponsor/Loadouts/Fredik21.yml
Labels: No C#

#94 fix light borg add
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: No C#

#95 add lodout sponsor fospas
  Resources/Prototypes/_SpaceCats/Sponsor/Loadouts/fospas.yml
Labels: No C#

#96 remove lag borer
  Resources/Prototypes/Entities/Stations/base.yml
Labels: No C#

#97 Add sponsor usugiu
  Resources/Prototypes/_SpaceCats/Sponsor/Loadouts/usugiu.yml
  Resources/Prototypes/_SpaceCats/Sponsor/usugiu/usugiu.yml
  Resources/Textures/_SpaceCats/Sponsor/usugiu/madmask.rsi/equipped-MAS.png
  Resources/Textures/_SpaceCats/Sponsor/usugiu/madmask.rsi/icon.png
  Resources/Textures/_SpaceCats/Sponsor/usugiu/madmask.rsi/meta.json
Labels: No C#, Changes: Sprites

#93 resprait &
  Resources/Textures/Objects/Devices/declaration_of_war.rsi/declarator.png
  Resources/Textures/Structures/Power/apc.rsi/base.png
  Resources/Textures/Structures/Power/apc.rsi/broken.png
  Resources/Textures/Structures/Power/apc.rsi/display-charging.png
  Resources/Textures/Structures/Power/apc.rsi/display-full.png
  Resources/Textures/Structures/Power/apc.rsi/display-lack.png
  Resources/Textures/Structures/Power/apc.rsi/display-remote.png
  Resources/Textures/Structures/Power/apc.rsi/emag-unlit.png
  Resources/Textures/Structures/Power/apc.rsi/frame.png
  Resources/Textures/Structures/Power/apc.rsi/lock0-locked.png
  Resources/Textures/Structures/Power/apc.rsi/lock1-locked.png
  Resources/Textures/Structures/Power/apc.rsi/meta.json
  Resources/Textures/Structures/Power/apc.rsi/panel.png
  Resources/Textures/Structures/Power/apc.rsi/sparks-unlit.png
  Resources/Textures/Structures/Power/apc.rsi/static.png
Labels: No C#, Changes: Sprites

#98 fix cap hardsuit head
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Labels: No C#

#108 disable SalvageExpedition
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: No C#

#110 fix light again
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: No C#

#111 up space dragon
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: No C#

#112 Р.П.А. навитагор аномалий
  Resources/Locale/ru-RU/_Cats/objects/specific/research/anomaly.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Specific/Research/anomaly.yml
  Resources/Prototypes/_SpaceCats/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_SpaceCats/Objectives/traitorObjectives.yml
  Resources/Textures/Objects/Devices/pinpointer.rsi/meta.json
  Resources/Textures/Objects/Devices/pinpointer.rsi/pinpointer-anomaly.png
Labels: Changes: Localization, No C#, Changes: Sprites

#113 Слизне коты к AdventureTimeSS14
  Resources/Prototypes/_SpaceCats/Entities/Mobs/SlugCats/slugcat.yml
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/creek-rest.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/creek.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/dead-creek.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/dead-holy.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/dead-monk.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/dead-sonfariel.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/dead-spear-master.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/dead-technician.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/holy-rest.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/holy.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/icon-creek.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/icon-holy.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/icon-monk.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/icon-sonfariel.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/icon-spear-master.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/icon-technician.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/meta.json
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/monk-rest.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/monk.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/sonfariel-rest.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/sonfariel.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/spear-master-rest.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/spear-master.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/technician-rest.png
  Resources/Textures/_SpaceCats/Mobs/Animals/slug-cat.rsi/technician.png
Labels: No C#, Changes: Sprites

#114 fix Shadowkin gasp
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/_SpaceCats/Entities/Mobs/Species/base.yml
Labels: No C#

#125 resprite RnD
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Textures/Objects/Tools/drill.rsi/meta.json
  Resources/Textures/Objects/Tools/drill.rsi/rnd_drill_bolt.png
  Resources/Textures/Objects/Tools/drill.rsi/rnd_drill_screw.png
  Resources/Textures/Objects/Tools/jaws_of_life.rsi/meta.json
  Resources/Textures/Objects/Tools/jaws_of_life.rsi/rnd_jaws_cutter.png
  Resources/Textures/Objects/Tools/jaws_of_life.rsi/rnd_jaws_pry.png
Labels: No C#, Changes: Sprites

#127 new sponsor ChadJew
  Resources/Prototypes/_SpaceCats/Sponsor/Loadouts/ChadJew.yml
Labels: No C#

#128 fix resp
  Resources/Textures/Structures/Doors/Shutters/shutters.rsi/closed.png
  Resources/Textures/Structures/Doors/Shutters/shutters.rsi/open.png
  Resources/Textures/Structures/Wallmounts/switch.rsi/dead.png
  Resources/Textures/Structures/Wallmounts/switch.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/switch.rsi/off.png
  Resources/Textures/Structures/Wallmounts/switch.rsi/on.png
Labels: No C#, Changes: Sprites

#129 resprite SMES
  Resources/Textures/Structures/Doors/secret_door.rsi/assembly.png
  Resources/Textures/Structures/Doors/secret_door.rsi/closed.png
  Resources/Textures/Structures/Doors/secret_door.rsi/closing.png
  Resources/Textures/Structures/Doors/secret_door.rsi/meta.json
  Resources/Textures/Structures/Doors/secret_door.rsi/open.png
  Resources/Textures/Structures/Doors/secret_door.rsi/opening.png
  Resources/Textures/Structures/Furniture/chairs.rsi/shuttle.png
  Resources/Textures/Structures/Furniture/chairs.rsi/wooden.png
  Resources/Textures/Structures/Machines/arcade.rsi/arcade.png
  Resources/Textures/Structures/Machines/arcade.rsi/arcade_broken.png
  Resources/Textures/Structures/Machines/arcade.rsi/icon.png
  Resources/Textures/Structures/Machines/arcade.rsi/meta.json
  Resources/Textures/Structures/Machines/arcade.rsi/screen_blockgame.png
  Resources/Textures/Structures/Machines/arcade.rsi/screen_invaders.png
  Resources/Textures/Structures/Machines/arcade.rsi/screen_spacevillain.png
  Resources/Textures/Structures/Machines/telecomms.rsi/icon.png
  Resources/Textures/Structures/Machines/telecomms.rsi/meta.json
  Resources/Textures/Structures/Machines/telecomms.rsi/panel.png
  Resources/Textures/Structures/Machines/telecomms.rsi/unlit.png
  Resources/Textures/Structures/Power/smes.rsi/meta.json
  Resources/Textures/Structures/Power/smes.rsi/smes-oc0.png
  Resources/Textures/Structures/Power/smes.rsi/smes-oc1.png
  Resources/Textures/Structures/Power/smes.rsi/smes-oc2.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og1.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og2.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og3.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og4.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og5.png
  Resources/Textures/Structures/Power/smes.rsi/smes-op0.png
  Resources/Textures/Structures/Power/smes.rsi/smes-op1.png
  Resources/Textures/Structures/Power/smes.rsi/smes-op2.png
  Resources/Textures/Structures/Power/smes.rsi/smes-open.png
  Resources/Textures/Structures/Power/smes.rsi/smes.png
  Resources/Textures/Structures/Power/smes.rsi/static.png
  Resources/Textures/Tiles/lattice.png
Labels: No C#, Changes: Sprites

#132 Resprait door
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/advkit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/blackkit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/brutekit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/burnkit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/firstaid.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/o2kit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/purplekit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/radkit.png
  Resources/Textures/Objects/Specific/Medical/firstaidkits.rsi/toxinkit.png
  Resources/Textures/Structures/Doors/Shutters/shutters.rsi/closed.png
  Resources/Textures/Structures/Doors/Shutters/shutters.rsi/closing.png
  Resources/Textures/Structures/Doors/Shutters/shutters.rsi/frame.png
  Resources/Textures/Structures/Doors/Shutters/shutters.rsi/meta.json
  Resources/Textures/Structures/Doors/Shutters/shutters.rsi/open.png
  Resources/Textures/Structures/Doors/Shutters/shutters.rsi/opening.png
  Resources/Textures/Structures/Machines/arcade.rsi/arcade.png
  Resources/Textures/Structures/Machines/arcade.rsi/arcade_broken.png
  Resources/Textures/Structures/Machines/arcade.rsi/icon.png
  Resources/Textures/Structures/Machines/arcade.rsi/meta.json
  Resources/Textures/Structures/Machines/arcade.rsi/screen_blockgame.png
  Resources/Textures/Structures/Machines/arcade.rsi/screen_invaders.png
  Resources/Textures/Structures/Machines/arcade.rsi/screen_spacevillain.png
  Resources/Textures/Structures/Machines/telecomms.rsi/icon.png
  Resources/Textures/Structures/Machines/telecomms.rsi/meta.json
  Resources/Textures/Structures/Machines/telecomms.rsi/panel.png
  Resources/Textures/Structures/Machines/telecomms.rsi/unlit.png
  Resources/Textures/Structures/Power/Generation/solar_panel.rsi/broken.png
  Resources/Textures/Structures/Power/Generation/solar_panel.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/solar_panel.rsi/normal.png
  Resources/Textures/Structures/Power/Generation/solar_panel.rsi/solar_assembly.png
  Resources/Textures/Structures/Power/Generation/solar_panel.rsi/solar_tracker.png
  Resources/Textures/Structures/Power/Generation/solar_panel.rsi/static.png
  Resources/Textures/Structures/Walls/grille.rsi/grille.png
  Resources/Textures/Structures/Walls/grille.rsi/grille_broken.png
  Resources/Textures/Structures/catwalk.rsi/catwalk_0.png
  Resources/Textures/Structures/catwalk.rsi/catwalk_1.png
  Resources/Textures/Structures/catwalk.rsi/catwalk_2.png
  Resources/Textures/Structures/catwalk.rsi/catwalk_3.png
  Resources/Textures/Structures/catwalk.rsi/catwalk_4.png
  Resources/Textures/Structures/catwalk.rsi/catwalk_5.png
  Resources/Textures/Structures/catwalk.rsi/catwalk_6.png
  Resources/Textures/Structures/catwalk.rsi/catwalk_7.png
  Resources/Textures/Structures/catwalk.rsi/catwalk_preview.png
  Resources/Textures/Structures/catwalk.rsi/meta.json
Labels: No C#, Changes: Sprites

#133 сломанное окно...
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/_SpaceCats/Entities/Structures/Windows/broken_window.yml
  Resources/Textures/Structures/Walls/broken_window.rsi/meta.json
  Resources/Textures/Structures/Walls/broken_window.rsi/state_0.png
  Resources/Textures/Structures/Walls/broken_window.rsi/state_1.png
  Resources/Textures/Structures/Walls/broken_window.rsi/state_2.png
  Resources/Textures/Structures/Walls/broken_window.rsi/state_3.png
  Resources/Textures/Structures/Walls/broken_window.rsi/state_4.png
  Resources/Textures/Structures/Walls/broken_window.rsi/state_5.png
  Resources/Textures/Structures/Walls/broken_window.rsi/state_6.png
  Resources/Textures/Structures/Walls/broken_window.rsi/state_7.png
Labels: No C#, Changes: Sprites

#139 resprite plastitanium wall and window
  Resources/Textures/Structures/Walls/plastitanium.rsi/full.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/meta.json
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium0.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium1.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium2.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium3.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium4.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium5.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium6.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium7.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/full.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow0.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow1.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow2.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow3.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow4.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow5.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow6.png
  Resources/Textures/Structures/Windows/plastitanium_window.rsi/ptwindow7.png
Labels: No C#, Changes: Sprites

#141 oracle fix (#646)
  Content.Server/Backmen/Research/Oracle/OracleSystem.cs
  Content.Server/Materials/MaterialReclaimerSystem.cs
  Resources/Prototypes/_Backmen/Entities/Structures/Research/oracle.yml
  Resources/Prototypes/_Backmen/Procedural/Shipwreck/biome_templates.yml
  Resources/Prototypes/_Backmen/Procedural/Shipwreck/dungeon_configs.yml
  Resources/Prototypes/_Backmen/Procedural/Shipwreck/shipwreck_destinations.yml
  Resources/Prototypes/_Backmen/Procedural/Shipwreck/shipwreck_factions.yml
  Resources/Textures/Backmen/Structures/Decoration/statues.rsi/meta.json
  Resources/Textures/Backmen/Structures/Decoration/statues.rsi/oracle-o0bld.png
Labels: Changes: Sprites

#142 New Health Analyzer UI
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerBoundUserInterface.cs
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Resources/Locale/en-US/medical/components/health-analyzer-component.ftl
  Resources/Locale/ru-RU/medical/components/health-analyzer-component.ftl
Labels: Changes: Localization, Changes: UI

#146 Респрайт смеса
  Resources/Textures/Objects/Misc/stock_parts.rsi/adv_capacitor.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/adv_scan_module.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/advanced_matter_bin.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/ansible_crystal.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/bluespace_matter_bin.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/capacitor.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/card_reader.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/femto_mani.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/hdd1.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/hdd2.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/high_micro_laser.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/hyperwave_filter.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/matter_bin.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/micro_laser.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/micro_mani.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/nano_mani.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/pico_mani.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/quadratic_capacitor.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/quadultra_micro_laser.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/rom1.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/rom2.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/romos1.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/romos2.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/scan_module.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/subspace_amplifier.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/subspace_ansible.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/subspace_transmitter.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/super_capacitor.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/super_matter_bin.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/super_scan_module.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/treatment_disk.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/triphasic_scan_module.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/ultra_high_micro_laser.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/wavelength_analyzer.png
  Resources/Textures/Structures/Power/smes.rsi/meta.json
  Resources/Textures/Structures/Power/smes.rsi/smes-oc0.png
  Resources/Textures/Structures/Power/smes.rsi/smes-oc1.png
  Resources/Textures/Structures/Power/smes.rsi/smes-oc2.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og1.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og2.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og3.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og4.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og5.png
  Resources/Textures/Structures/Power/smes.rsi/smes-op0.png
  Resources/Textures/Structures/Power/smes.rsi/smes-op1.png
  Resources/Textures/Structures/Power/smes.rsi/smes-op2.png
  Resources/Textures/Structures/Power/smes.rsi/smes-open.png
  Resources/Textures/Structures/Power/smes.rsi/smes.png
  Resources/Textures/Structures/Power/smes.rsi/static.png
Labels: No C#, Changes: Sprites

#148 resprait sheets
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/glass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/glass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/glass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/pglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/pglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/pglass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/plastitaniumglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/plastitaniumglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/plastitaniumglass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rglass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rpglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rpglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/rpglass_3.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/titaniumglass.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/titaniumglass_2.png
  Resources/Textures/Objects/Materials/Sheets/glass.rsi/titaniumglass_3.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/brass.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/brass_2.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/brass_3.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plasteel.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plasteel_2.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plasteel_3.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plastitanium.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plastitanium_2.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/plastitanium_3.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/steel.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/steel_2.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/steel_3.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/titanium.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/titanium_2.png
  Resources/Textures/Objects/Materials/Sheets/metal.rsi/titanium_3.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/paper.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/paper_2.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/paper_3.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plastic.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plastic_2.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/plastic_3.png
Labels: No C#, Changes: Sprites

#150 new fuel tank
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Textures/Structures/Storage/tanks.rsi/cleanerdispenser.png
  Resources/Textures/Structures/Storage/tanks.rsi/fueldispenser.png
  Resources/Textures/Structures/Storage/tanks.rsi/fueltank.png
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank.png
  Resources/Textures/Structures/Storage/tanks.rsi/highwatertank.png
  Resources/Textures/Structures/Storage/tanks.rsi/pepperdispenser.png
  Resources/Textures/Structures/Storage/tanks.rsi/watertank.png
Labels: No C#, Changes: Sprites

#151 как я устал...
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
  Resources/Prototypes/Entities/Structures/Windows/mining.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: No C#

#155 Syns
  Content.Server/Backmen/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Content.Server/Backmen/Psionics/PsionicBonusChanceComponent.cs
  Resources/Locale/ru-RU/backmen/game-ticking/game-presets/preset-mix.ftl
  Resources/Maps/Backmen/Nonstations/nukieoutpost.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Research/oracle.yml
  Resources/Prototypes/_Backmen/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/game_presets.yml
  Resources/Prototypes/game_presets.yml
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/full.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/meta.json
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow0.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow1.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow2.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow3.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow4.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow5.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow6.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow7.png
Labels: Changes: Localization, Changes: Sprites, Changes: Map

#159 Вернуть обычные окна без разрушение.
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
  Resources/Prototypes/Entities/Structures/Windows/mining.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: No C#

#158 Ода это то что нам нужно!
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/Projectiles/Gen_Guns.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/Projectiles/polymorphA.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/Projectiles/polymorphAС.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/Projectiles/polymorphD.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/Projectiles/polymorphF.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/Projectiles/polymorphH.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/Projectiles/polymorphHa.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/Projectiles/polymorphM.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/Projectiles/polymorphO.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/Projectiles/polymorphR.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/Projectiles/polymorphS.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/Projectiles/polymorphSa.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/Projectiles/polymorphV.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/Projectiles/polymorphVo.yml
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/base.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/equipped-BELT.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/icon.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/inhand-left-0.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/inhand-left-1.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/inhand-left-2.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/inhand-left-3.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/inhand-right-0.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/inhand-right-1.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/inhand-right-2.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/inhand-right-3.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/mag-unshaded-0.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/mag-unshaded-1.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/mag-unshaded-2.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/mag-unshaded-3.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/mag-unshaded-4.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/meta.json
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/redtrac.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Guns/Misc/Gen_Guns.rsi/sleeping.png
Labels: No C#, Changes: Sprites

#161 new sprite stasis_bed
  Resources/Textures/Structures/Machines/stasis_bed.rsi/icon.png
  Resources/Textures/Structures/Machines/stasis_bed.rsi/meta.json
  Resources/Textures/Structures/Machines/stasis_bed.rsi/panel.png
  Resources/Textures/Structures/Machines/stasis_bed.rsi/unlit.png
Labels: No C#, Changes: Sprites

#162 Ассистент ЦК, Грузчик ЦК, Офицер ЦК теперь доступны только по ВЛ
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/cargotech.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/intern.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/private_officer.yml
Labels: No C#

#165 resprite vent
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_off.png
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_on.png
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_purge.png
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_welded.png
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_wide.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_in.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_off.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_out.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_welded.png
Labels: No C#, Changes: Sprites

#166 new ghost glist
  Content.Client/Backmen/Sponsors/SponsorsManager.cs
  Content.Server/Backmen/GhostTheme/GhostThemeSystem.cs
  Resources/Locale/en-US/backmen/sponsors/windowmanager.ftl
  Resources/Locale/ru-RU/backmen/sponsors/windowmanager.ftl
  Resources/Prototypes/_Backmen/ghostSponsor.yml
  Resources/Textures/_SpaceCats/Mobs/Ghost/glist_ghost.rsi/animated.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/glist_ghost.rsi/icon.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/glist_ghost.rsi/meta.json
Labels: Changes: Localization, Changes: Sprites

#177 Фури подгузники
  Resources/Prototypes/_Backmen/Loadouts/Miscellaneous/clothingUnder.yml
  Resources/Prototypes/_SpaceCats/Entities/Clothing/Under/pants.yml
  Resources/Textures/_SpaceCats/Clothing/Under/underpants.rsi/diaper-ICON.png
  Resources/Textures/_SpaceCats/Clothing/Under/underpants.rsi/diaper.png
  Resources/Textures/_SpaceCats/Clothing/Under/underpants.rsi/meta.json
Labels: No C#, Changes: Sprites

#179 resprite solid wall at lite
  Resources/Textures/Structures/Walls/solid.rsi/full.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-0.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-1.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-2.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-3.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-4.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-5.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over0.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over1.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over2.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over3.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over4.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over5.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over6.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over7.png
  Resources/Textures/Structures/Walls/solid.rsi/rgeneric.png
  Resources/Textures/Structures/Walls/solid.rsi/solid0.png
  Resources/Textures/Structures/Walls/solid.rsi/solid1.png
  Resources/Textures/Structures/Walls/solid.rsi/solid2.png
  Resources/Textures/Structures/Walls/solid.rsi/solid3.png
  Resources/Textures/Structures/Walls/solid.rsi/solid4.png
  Resources/Textures/Structures/Walls/solid.rsi/solid5.png
  Resources/Textures/Structures/Walls/solid.rsi/solid6.png
  Resources/Textures/Structures/Walls/solid.rsi/solid7.png
Labels: No C#, Changes: Sprites

#180 new ghost
  Content.Client/Backmen/Sponsors/SponsorsManager.cs
  Content.Server/Backmen/GhostTheme/GhostThemeSystem.cs
  Resources/Prototypes/_Backmen/ghostSponsor.yml
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghost_dark.rsi/Kotovasu.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghost_dark.rsi/endr_animet.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghost_dark.rsi/icon.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghost_dark.rsi/kvasik.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghost_dark.rsi/meta.json
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/1.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/10.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/11.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/12.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/13.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/14.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/15.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/16.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/17.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/2.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/3.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/4.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/5.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/6.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/7.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/8.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/9.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/BioMass.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/dune.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/endr_animet.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/felind.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/icon.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/kidz.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/meta.json
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/nubas0914.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/shadowkin.png
  Resources/Textures/_SpaceCats/Mobs/Ghost/ghosts.rsi/vulpkin.png
Labels: Changes: Sprites

#182 Smes resp
  Resources/Prototypes/_SpaceCats/Entities/Structures/Power/smes.yml
  Resources/Textures/Structures/Power/smes.rsi/meta.json
  Resources/Textures/Structures/Power/smes.rsi/smes-oc0.png
  Resources/Textures/Structures/Power/smes.rsi/smes-oc1.png
  Resources/Textures/Structures/Power/smes.rsi/smes-oc2.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og1.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og2.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og3.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og4.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og5.png
  Resources/Textures/Structures/Power/smes.rsi/smes-op0.png
  Resources/Textures/Structures/Power/smes.rsi/smes-op1.png
  Resources/Textures/Structures/Power/smes.rsi/smes-op2.png
  Resources/Textures/Structures/Power/smes.rsi/smes-open.png
  Resources/Textures/Structures/Power/smes.rsi/smes.png
  Resources/Textures/Structures/Power/smes.rsi/static.png
  Resources/Textures/_SpaceCats/Structures/Power/smesnew.rsi/meta.json
  Resources/Textures/_SpaceCats/Structures/Power/smesnew.rsi/smes-oc0.png
  Resources/Textures/_SpaceCats/Structures/Power/smesnew.rsi/smes-oc1.png
  Resources/Textures/_SpaceCats/Structures/Power/smesnew.rsi/smes-oc2.png
  Resources/Textures/_SpaceCats/Structures/Power/smesnew.rsi/smes-og1.png
  Resources/Textures/_SpaceCats/Structures/Power/smesnew.rsi/smes-og2.png
  Resources/Textures/_SpaceCats/Structures/Power/smesnew.rsi/smes-og3.png
  Resources/Textures/_SpaceCats/Structures/Power/smesnew.rsi/smes-og4.png
  Resources/Textures/_SpaceCats/Structures/Power/smesnew.rsi/smes-og5.png
  Resources/Textures/_SpaceCats/Structures/Power/smesnew.rsi/smes-op0.png
  Resources/Textures/_SpaceCats/Structures/Power/smesnew.rsi/smes-op1.png
  Resources/Textures/_SpaceCats/Structures/Power/smesnew.rsi/smes-op2.png
  Resources/Textures/_SpaceCats/Structures/Power/smesnew.rsi/smes-open.png
  Resources/Textures/_SpaceCats/Structures/Power/smesnew.rsi/smes.png
  Resources/Textures/_SpaceCats/Structures/Power/smesnew.rsi/static.png
Labels: No C#, Changes: Sprites

#187 add
  Resources/Prototypes/_SpaceCats/Entities/Clothing/Wallet/wallet.yml
Labels: No C#

#189 new tails felinid
  Resources/Locale/en-US/backmen/markings/felinid.ftl
  Resources/Locale/ru-RU/backmen/markings/felinid.ftl
  Resources/Prototypes/_Backmen/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Textures/Backmen/Mobs/Customization/felinid_tails.rsi/bigtail_back_1.png
  Resources/Textures/Backmen/Mobs/Customization/felinid_tails.rsi/bigtail_back_2.png
  Resources/Textures/Backmen/Mobs/Customization/felinid_tails.rsi/bigtail_front_1.png
  Resources/Textures/Backmen/Mobs/Customization/felinid_tails.rsi/bigtail_front_2.png
  Resources/Textures/Backmen/Mobs/Customization/felinid_tails.rsi/bigtail_left_1.png
  Resources/Textures/Backmen/Mobs/Customization/felinid_tails.rsi/bigtail_left_2.png
  Resources/Textures/Backmen/Mobs/Customization/felinid_tails.rsi/bigtail_right_1.png
  Resources/Textures/Backmen/Mobs/Customization/felinid_tails.rsi/bigtail_right_2.png
  Resources/Textures/Backmen/Mobs/Customization/felinid_tails.rsi/bigtail_wagging.png
  Resources/Textures/Backmen/Mobs/Customization/felinid_tails.rsi/fluffy_tail.png
  Resources/Textures/Backmen/Mobs/Customization/felinid_tails.rsi/meta.json
Labels: Changes: Localization, No C#, Changes: Sprites

#200 Repsite and more fix
  Resources/Prototypes/StatusIcon/security.yml
  Resources/Textures/Objects/Tools/crowbar.rsi/cover-icon.png
  Resources/Textures/Objects/Tools/crowbar.rsi/green-storage.png
  Resources/Textures/Objects/Tools/crowbar.rsi/meta.json
  Resources/Textures/Objects/Tools/crowbar.rsi/orange-storage.png
  Resources/Textures/Objects/Tools/crowbar.rsi/yellow-storage.png
  Resources/Textures/Structures/Doors/Shutters/shutters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/Lighting/emergency_light.rsi/base.png
  Resources/Textures/Structures/Wallmounts/Lighting/emergency_light.rsi/emergency_light_off.png
  Resources/Textures/Structures/Wallmounts/Lighting/emergency_light.rsi/emergency_light_on.png
  Resources/Textures/Structures/Wallmounts/Lighting/emergency_light.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/intercom.rsi/base.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/broadcasting.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/build.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/intercom.rsi/panel.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/speaker.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/unshaded.png
Labels: No C#, Changes: Sprites

#206 сделать звуки воксов тише
  Resources/Audio/Voice/Vox/shriek1.ogg
  Resources/Audio/Voice/Vox/vox_laugh.ogg
Labels: No C#

#207 SP
  .github/workflows/map-diff.yml
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/cog.yml
Labels: Changes: Map

#208 New mapping tiles
  Resources/Prototypes/_Backmen/Entities/Clothing/OuterClothing/coat.yml
  Resources/Prototypes/_SpaceCats/Sponsor/usugiu/usugiu.yml
  Resources/Prototypes/_SpaceCats/Tiles/floors.yml
  Resources/Prototypes/_SpaceCats/Tiles/subfloors.yml
  Resources/Textures/_SpaceCats/Sponsor/usugiu/madmask.rsi/equipped-MASK.png
  Resources/Textures/_SpaceCats/Sponsor/usugiu/madmask.rsi/meta.json
  Resources/Textures/_SpaceCats/Tiles/attributions.yml.yml
  Resources/Textures/_SpaceCats/Tiles/fullblack.png
  Resources/Textures/_SpaceCats/Tiles/fullwhite.png
  Resources/Textures/_SpaceCats/Tiles/transparent.png
Labels: No C#, Changes: Sprites

#210 Space cats
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/full.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/meta.json
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow0.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow1.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow2.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow3.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow4.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow5.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow6.png
  Resources/Textures/Backmen/Structures/Windows/plastitanium_window.rsi/ptwindow7.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/basic.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/cargo.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/clockwork_pinion.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/command.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/engineering.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/maint.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/medical.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/science.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/security.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/virology.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/basic.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/cargo.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/centcomm.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/clockwork_pinion.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/command.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/engineering.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/freezer.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/hatch.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/hatch_maint.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/maint.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/medical.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/science.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/security.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/virology.rsi/meta.json
  Resources/Textures/Structures/Doors/Shutters/blastdoor.rsi/assembly.png
  Resources/Textures/Structures/Doors/Shutters/blastdoor.rsi/closed.png
  Resources/Textures/Structures/Doors/Shutters/blastdoor.rsi/closing.png
  Resources/Textures/Structures/Doors/Shutters/blastdoor.rsi/meta.json
  Resources/Textures/Structures/Doors/Shutters/blastdoor.rsi/open.png
  Resources/Textures/Structures/Doors/Shutters/blastdoor.rsi/opening.png
  Resources/Textures/Structures/Doors/Shutters/shutters.rsi/closed.png
  Resources/Textures/Structures/Doors/Shutters/shutters.rsi/closing.png
  Resources/Textures/Structures/Doors/Shutters/shutters.rsi/frame.png
  Resources/Textures/Structures/Doors/Shutters/shutters.rsi/meta.json
  Resources/Textures/Structures/Doors/Shutters/shutters.rsi/open.png
  Resources/Textures/Structures/Doors/Shutters/shutters.rsi/opening.png
  Resources/Textures/Structures/Doors/Shutters/shutters_window.rsi/closed.png
  Resources/Textures/Structures/Doors/Shutters/shutters_window.rsi/closing.png
  Resources/Textures/Structures/Doors/Shutters/shutters_window.rsi/frame.png
  Resources/Textures/Structures/Doors/Shutters/shutters_window.rsi/meta.json
  Resources/Textures/Structures/Doors/Shutters/shutters_window.rsi/open.png
  Resources/Textures/Structures/Doors/Shutters/shutters_window.rsi/opening.png
Labels: No C#, Changes: Sprites

#212 resprite
  Resources/Textures/Structures/Storage/canister.rsi/black-1.png
  Resources/Textures/Structures/Storage/canister.rsi/black.png
  Resources/Textures/Structures/Storage/canister.rsi/blue-1.png
  Resources/Textures/Structures/Storage/canister.rsi/blue.png
  Resources/Textures/Structures/Storage/canister.rsi/can-connector.png
  Resources/Textures/Structures/Storage/canister.rsi/can-o0.png
  Resources/Textures/Structures/Storage/canister.rsi/can-o1.png
  Resources/Textures/Structures/Storage/canister.rsi/can-o2.png
  Resources/Textures/Structures/Storage/canister.rsi/can-o3.png
  Resources/Textures/Structures/Storage/canister.rsi/can-open.png
  Resources/Textures/Structures/Storage/canister.rsi/darkblue-1.png
  Resources/Textures/Structures/Storage/canister.rsi/darkblue.png
  Resources/Textures/Structures/Storage/canister.rsi/frezon-1.png
  Resources/Textures/Structures/Storage/canister.rsi/frezon.png
  Resources/Textures/Structures/Storage/canister.rsi/green-1.png
  Resources/Textures/Structures/Storage/canister.rsi/green.png
  Resources/Textures/Structures/Storage/canister.rsi/greenys-1.png
  Resources/Textures/Structures/Storage/canister.rsi/greenys.png
  Resources/Textures/Structures/Storage/canister.rsi/grey-1.png
  Resources/Textures/Structures/Storage/canister.rsi/grey.png
  Resources/Textures/Structures/Storage/canister.rsi/locked.png
  Resources/Textures/Structures/Storage/canister.rsi/meta.json
  Resources/Textures/Structures/Storage/canister.rsi/orange-1.png
  Resources/Textures/Structures/Storage/canister.rsi/orange.png
  Resources/Textures/Structures/Storage/canister.rsi/red-1.png
  Resources/Textures/Structures/Storage/canister.rsi/red.png
  Resources/Textures/Structures/Storage/canister.rsi/redws-1.png
  Resources/Textures/Structures/Storage/canister.rsi/redws.png
  Resources/Textures/Structures/Storage/canister.rsi/unlocked.png
  Resources/Textures/Structures/Storage/canister.rsi/water_vapor-1.png
  Resources/Textures/Structures/Storage/canister.rsi/water_vapor.png
  Resources/Textures/Structures/Storage/canister.rsi/yellow-1.png
  Resources/Textures/Structures/Storage/canister.rsi/yellow.png
Labels: No C#, Changes: Sprites

#218 personalis weapon
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Interactions.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/ru-RU/_Cats/other.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: Localization

#220 upd
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Interactions.cs
  Resources/Locale/ru-RU/_Cats/other.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/meteors.yml
  Resources/Prototypes/GameRules/meteorswarms.yml
  Resources/Prototypes/_Backmen/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: Localization

#222 New rules
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
Labels: No C#

#224 add SC maps and mappool
  Resources/Maps/SpaceCats/BagelSC.yml
  Resources/Maps/SpaceCats/BoxSC.yml
  Resources/Maps/SpaceCats/ClusterSC.yml
  Resources/Maps/SpaceCats/CogSC.yml
  Resources/Maps/SpaceCats/OmegaSC.yml
  Resources/Maps/SpaceCats/PackedSC.yml
  Resources/Maps/SpaceCats/ReachSC.yml
  Resources/Prototypes/_SpaceCats/Maps/Pool/spacecatsnstandart.yml
  Resources/Prototypes/_SpaceCats/Maps/bagel.yml
  Resources/Prototypes/_SpaceCats/Maps/box.yml
  Resources/Prototypes/_SpaceCats/Maps/cluster.yml
  Resources/Prototypes/_SpaceCats/Maps/cog.yml
  Resources/Prototypes/_SpaceCats/Maps/omega.yml
  Resources/Prototypes/_SpaceCats/Maps/packed.yml
  Resources/Prototypes/_SpaceCats/Maps/reach.yml
Labels: No C#, Changes: Map

#229 add
  Resources/Maps/Misc/kosmoport.yml
  Resources/Maps/SpaceCats/BagelSC.yml
  Resources/Maps/SpaceCats/BoxSC.yml
  Resources/Maps/SpaceCats/ClusterSC.yml
  Resources/Maps/SpaceCats/OmegaSC.yml
  Resources/Maps/SpaceCats/PackedSC.yml
  Resources/Maps/SpaceCats/ReachSC.yml
  Resources/Maps/centcomm.yml
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/assembly.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/bolted_open_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/bolted_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/closed.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/closed_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/closing.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/closing_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/deny_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/emergency_open_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/emergency_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/meta.json
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/open.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/open_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/opening.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/opening_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/panel_closed.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/panel_closing.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/panel_open.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/panel_opening.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/sparks.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/sparks_broken.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/sparks_damaged.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/sparks_open.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Airlock/blueshield.rsi/welded.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/assembly.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/bolted_open_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/bolted_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/closed.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/closed_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/closing.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/closing_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/deny_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/emergency_open_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/emergency_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/meta.json
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/open.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/open_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/opening.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/opening_unlit.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/panel_closed.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/panel_closing.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/panel_open.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/panel_opening.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/sparks.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/sparks_broken.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/sparks_damaged.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/sparks_open.png
  Resources/Textures/Backmen/Structures/Doors/Airlocks/Glass/blueshield.rsi/welded.png
Labels: No C#, Changes: Sprites, Changes: Map

#231 add new rules
  Resources/Prototypes/Corvax/Guidebook/rules.yml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/CatsRuleset.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/PunishmentTypes.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule0.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule0_1.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule1.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule10.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule10_1.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule10_2.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule11.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule12.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule1_1.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule1_2.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule2.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule2_1.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule2_2.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule3.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule3_1.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule3_2.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule4.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule5.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule5_1.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule6.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule7.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule7_1.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule8.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule9.xml
  Resources/Prototypes/_SpaceCats/Guidebook/ServerRules/Rule9_1.xml
  Resources/Prototypes/_SpaceCats/Guidebook/rules.yml
Labels: No C#

#233 add
  Resources/Maps/SpaceCats/BagelSC.yml
  Resources/Maps/SpaceCats/BoxSC.yml
  Resources/Maps/SpaceCats/ClusterSC.yml
  Resources/Maps/SpaceCats/OmegaSC.yml
  Resources/Maps/SpaceCats/PackedSC.yml
  Resources/Maps/SpaceCats/ReachSC.yml
  Resources/Prototypes/_SpaceCats/Maps/Pool/spacecatsnstandart.yml
Labels: No C#, Changes: Map

#234 Revork zp
  Content.Server/Backmen/Economy/Wage/WageSchedulerSystem.cs
  Resources/Locale/ru-RU/_Cats/other.ftl
  Resources/Maps/SpaceCats/BagelSC.yml
  Resources/Maps/SpaceCats/BoxSC.yml
  Resources/Maps/SpaceCats/ClusterSC.yml
  Resources/Maps/SpaceCats/OmegaSC.yml
  Resources/Maps/SpaceCats/PackedSC.yml
  Resources/Maps/SpaceCats/ReachSC.yml
  Resources/Prototypes/_Backmen/GameRules/events.yml
  Resources/Prototypes/_Backmen/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: Localization, No C#, Changes: Map

#237 resprite
  Resources/Textures/Structures/Machines/VendingMachines/wallmed.rsi/meta.json
Labels: No C#

#240 fix blueshield and resprite APC
  Resources/Prototypes/_Backmen/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_SpaceCats/Loadouts/Jobs/CentCom/Blueshield.yml
  Resources/Prototypes/_SpaceCats/blueshield/blueshieldstuff.yml
  Resources/Textures/Structures/Power/apc.rsi/base.png
  Resources/Textures/Structures/Power/apc.rsi/broken.png
  Resources/Textures/Structures/Power/apc.rsi/display-charging.png
  Resources/Textures/Structures/Power/apc.rsi/display-full.png
  Resources/Textures/Structures/Power/apc.rsi/display-lack.png
  Resources/Textures/Structures/Power/apc.rsi/display-remote.png
  Resources/Textures/Structures/Power/apc.rsi/emag-unlit.png
  Resources/Textures/Structures/Power/apc.rsi/frame.png
  Resources/Textures/Structures/Power/apc.rsi/lock0-locked.png
  Resources/Textures/Structures/Power/apc.rsi/lock1-locked.png
  Resources/Textures/Structures/Power/apc.rsi/meta.json
  Resources/Textures/Structures/Power/apc.rsi/panel.png
  Resources/Textures/Structures/Power/apc.rsi/sparks-unlit.png
  Resources/Textures/Structures/Power/apc.rsi/static.png
Labels: No C#, Changes: Sprites

#241 add age 30
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/blueshield.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/cargotech.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/centcom_admiral.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/centcom_official.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/head_of_security.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/intern.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/operator.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/private_officer.yml
Labels: No C#

#242 перенос ножа в карман
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/blueshield.yml
Labels: No C#

#244 Blueshield fixes
  Resources/Prototypes/_SpaceCats/Loadouts/Jobs/CentCom/Blueshield.yml
  Resources/Prototypes/_SpaceCats/blueshield/blueshieldstuff.yml
Labels: No C#

#248 add create rack weapons
  Resources/Prototypes/_SpaceCats/Entities/Structures/Furniture/Armory/gun_racks_base.yml
  Resources/Prototypes/_SpaceCats/Entities/Structures/Furniture/Armory/melee_weaapon_racks_base.yml
  Resources/Prototypes/_SpaceCats/Entities/Structures/Furniture/Armory/pistol_racks_base.yml
  Resources/Prototypes/_SpaceCats/Recipes/Construction/Graphs/furniture/armory_racks_graphs.yml
  Resources/Prototypes/_SpaceCats/Recipes/Construction/Graphs/furniture/weapon_racks_security.yml
  Resources/Prototypes/_SpaceCats/Recipes/Construction/furniture_armory_construction.yml
  Resources/Resources/Locale/ru-RU/ss14-ru/prototypes/_Cats/entities/structures/furniture/armory/weapon_racks_security.ftl
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/gun_racks.rsi/base_generic_gunrack.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/gun_racks.rsi/base_generic_gunrack_wallmounted.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/gun_racks.rsi/locked.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/gun_racks.rsi/meta.json
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/gun_racks.rsi/unlocked.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/gun_racks.rsi/weapon_generic_gun1.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/gun_racks.rsi/weapon_generic_gun2.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/gun_racks.rsi/weapon_generic_gun3.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/gun_racks.rsi/weapon_generic_gun4.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/gun_racks.rsi/weapon_generic_gun5.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/melee_weapon_racks.rsi/base_generic_meleerack.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/melee_weapon_racks.rsi/base_generic_meleerack_wallmounted.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/melee_weapon_racks.rsi/locked.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/melee_weapon_racks.rsi/meta.json
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/melee_weapon_racks.rsi/unlocked.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/melee_weapon_racks.rsi/weapon_generic_melee1.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/melee_weapon_racks.rsi/weapon_generic_melee2.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/melee_weapon_racks.rsi/weapon_generic_melee3.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/melee_weapon_racks.rsi/weapon_generic_melee4.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/melee_weapon_racks.rsi/weapon_generic_melee5.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/pistol_racks.rsi/base_generic_pistolrack.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/pistol_racks.rsi/base_generic_pistolrack_wallmounted.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/pistol_racks.rsi/locked.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/pistol_racks.rsi/meta.json
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/pistol_racks.rsi/unlocked.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/pistol_racks.rsi/weapon_generic_pistol1.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/pistol_racks.rsi/weapon_generic_pistol2.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/pistol_racks.rsi/weapon_generic_pistol3.png
  Resources/Textures/_SpaceCats/Structures/Furniture/Armory/pistol_racks.rsi/weapon_generic_pistol4.png
Labels: Changes: Localization, No C#, Changes: Sprites

#249 add baby dragon port frontier by Stagnation
  Content.Server/_Cats/Transfer/Components/TransferMindOnDespawnComponent.cs
  Content.Server/_Cats/Transfer/TransferMindOnDespawn.cs
  Resources/Locale/en-US/_Cats/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/_Cats/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/_SpaceCats/Entities/Mobs/NPCs/baby_dragon.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/Projectiles/baby_dragon_fire.yml
  Resources/Prototypes/_SpaceCats/Misc/dragon_egg.yml
  Resources/Prototypes/_SpaceCats/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_SpaceCats/Effects/dragonspawn.rsi/dragon.png
  Resources/Textures/_SpaceCats/Effects/dragonspawn.rsi/meta.json
  Resources/Textures/_SpaceCats/Mobs/Pets/baby_dragon.rsi/alive-unshaded.png
  Resources/Textures/_SpaceCats/Mobs/Pets/baby_dragon.rsi/alive.png
  Resources/Textures/_SpaceCats/Mobs/Pets/baby_dragon.rsi/crit.png
  Resources/Textures/_SpaceCats/Mobs/Pets/baby_dragon.rsi/dead-unshaded.png
  Resources/Textures/_SpaceCats/Mobs/Pets/baby_dragon.rsi/dead.png
  Resources/Textures/_SpaceCats/Mobs/Pets/baby_dragon.rsi/meta.json
  Resources/Textures/_SpaceCats/Objects/Consumable/Food/dragon_egg.rsi/broken.png
  Resources/Textures/_SpaceCats/Objects/Consumable/Food/dragon_egg.rsi/icon.png
  Resources/Textures/_SpaceCats/Objects/Consumable/Food/dragon_egg.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Objects/Consumable/Food/dragon_egg.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Objects/Consumable/Food/dragon_egg.rsi/meta.json
  Resources/Textures/_SpaceCats/Objects/Consumable/Food/dragonomelette.rsi/icon.png
  Resources/Textures/_SpaceCats/Objects/Consumable/Food/dragonomelette.rsi/meta.json
Labels: Changes: Localization, Changes: Sprites

#254 Upstreams
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/job/department.ftl
  Resources/Maps/bagel.yml
  Resources/Maps/marathon.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Entities/Structures/Specific/xeno.yml
  Resources/Prototypes/Maps/reach.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/decoration.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Structures/Specific/carp_statue.rsi/eyes.png
  Resources/Textures/Structures/Specific/carp_statue.rsi/eyes_unshaded.png
  Resources/Textures/Structures/Specific/carp_statue.rsi/icon.png
  Resources/Textures/Structures/Specific/carp_statue.rsi/meta.json
  Resources/Textures/Structures/Specific/carp_statue.rsi/statue.png
  Resources/Textures/Structures/Specific/carp_statue.rsi/teeth_unshaded.png
  Resources/Textures/Structures/Specific/carp_statue.rsi/unshaded.png
  SpaceStation14.sln
Labels: Changes: Localization, Changes: Sprites, Changes: Map

#255 plantanalyzer
  Content.Client/_Cats/PlantAnalyzer/UI/PlantAnalyzerBoundUserInterface.cs
  Content.Client/_Cats/PlantAnalyzer/UI/PlantAnalyzerWindow.xaml
  Content.Client/_Cats/PlantAnalyzer/UI/PlantAnalyzerWindow.xaml.cs
  Content.Server/_Cats/Botany/Components/PlantAnalyzerComponent.cs
  Content.Server/_Cats/Botany/Systems/PlantAnalyzerSystem.cs
  Content.Shared/_Cats/PlantAnalyzer/PlantAnalyzerDoAfterEvent.cs
  Content.Shared/_Cats/PlantAnalyzer/PlantAnalyzerScannedSeedPlantInformation.cs
  Content.Shared/_Cats/PlantAnalyzer/PlantAnalyzerUiKey.cs
  Resources/Locale/en-US/botany/components/plantanalyzer.ftl
  Resources/Locale/ru-RU/botany/components/plantanalyzer.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Devices/plant_analyzer.yml
  Resources/Prototypes/_SpaceCats/Recipes/Lathes/botany.yml
  Resources/Resources/Locale/ru-RU/ss14-ru/prototypes/_Cats/entities/structures/furniture/armory/weapon_racks_security.ftl
  Resources/Textures/_SpaceCats/Objects/Devices/plant_analyzer.rsi/icon.png
  Resources/Textures/_SpaceCats/Objects/Devices/plant_analyzer.rsi/meta.json
  Resources/Textures/_SpaceCats/Objects/Devices/plant_analyzer.rsi/plantanalyzer.png
Labels: Changes: Localization, Changes: UI, Changes: Sprites

#259 add diona frandly
  Resources/Prototypes/Entities/Mobs/NPCs/living_light.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/ai_factions.yml
Labels: No C#

#258 add spech booble felinid
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_SpaceCats/typing_indicator.yml
  Resources/Prototypes/typing_indicator.yml
  Resources/Textures/Effects/speech.rsi/felinid0.png
  Resources/Textures/Effects/speech.rsi/felinid1.png
  Resources/Textures/Effects/speech.rsi/felinid2.png
  Resources/Textures/Effects/speech.rsi/meta.json
Labels: No C#, Changes: Sprites

#261 new sprite
  Resources/Textures/Objects/Specific/Medical/medical.rsi/brutepack.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/cast.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/medicated-suture.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/morphine.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/ointment.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/regenerative-mesh.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/tourniquet.png
Labels: No C#, Changes: Sprites

#263 теперь коллизия доминатора в сумках правильная
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Energy/hitscan.yml
Labels: No C#

#271 bit thruster and large
  Resources/Locale/ru-RU/_Cats/entities/structures/shuttles/thrusters.ftl
  Resources/Prototypes/_SpaceCats/Entities/Structures/Shuttles/thrusters.yml
  Resources/Textures/_SpaceCats/Structures/Shuttles/thruster_big.rsi/base.png
  Resources/Textures/_SpaceCats/Structures/Shuttles/thruster_big.rsi/meta.json
  Resources/Textures/_SpaceCats/Structures/Shuttles/thruster_big.rsi/thrust.png
  Resources/Textures/_SpaceCats/Structures/Shuttles/thruster_big.rsi/thrust_burn_unshaded.png
  Resources/Textures/_SpaceCats/Structures/Shuttles/thruster_large.rsi/base.png
  Resources/Textures/_SpaceCats/Structures/Shuttles/thruster_large.rsi/meta.json
  Resources/Textures/_SpaceCats/Structures/Shuttles/thruster_large.rsi/thrust.png
  Resources/Textures/_SpaceCats/Structures/Shuttles/thruster_large.rsi/thrust_burn_unshaded.png
Labels: Changes: Localization, No C#, Changes: Sprites

#274 add dep playtime add
  Content.Server/Administration/Commands/PlayTimeCommands.cs
  Resources/Locale/ru-RU/players/play-time/play-time-commands.ftl
Labels: Changes: Localization

#275 fix swarmer
  Resources/Prototypes/_SpaceCats/Swarmers/Factory.yml
  Resources/Prototypes/_SpaceCats/Swarmers/Materials.yml
  Resources/Prototypes/_SpaceCats/Swarmers/Structurs.yml
  Resources/Textures/_SpaceCats/Swarmers/STRUCTURES/Swarm_Tiel.rsi/fill-1.png
  Resources/Textures/_SpaceCats/Swarmers/STRUCTURES/Swarm_Tiel.rsi/meta.json
Labels: No C#, Changes: Sprites

#276 Upstreams
  Content.Client/Backmen/Soul/GolemComponent.cs
  Content.Client/Backmen/Soul/GolemSystem.cs
  Content.Server/Backmen/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
  Content.Server/Backmen/Chapel/SacrificialAltarSystem.cs
  Content.Server/Backmen/NPC/HTN/PrimitiveTasks/Operators/Specific/DrainOperator.cs
  Content.Server/Backmen/NPC/HTN/PrimitiveTasks/Operators/Specific/PickDrainTargetOperator.cs
  Content.Server/Backmen/Psionics/NPC/GlimmerWisp/GlimmerWispComponent.cs
  Content.Server/Backmen/Psionics/NPC/GlimmerWisp/GlimmerWispSystem.cs
  Content.Server/Backmen/Psionics/Objectives/BecomeGolemConditionSystem.cs
  Content.Server/Backmen/Psionics/Objectives/BecomePsionicConditionSystem.cs
  Content.Server/Backmen/Psionics/Objectives/Components/BecomeGolemConditionComponent.cs
  Content.Server/Backmen/Psionics/Objectives/Components/BecomePsionicConditionComponent.cs
  Content.Server/Backmen/Psionics/Objectives/Components/RaiseGlimmerConditionComponent.cs
  Content.Server/Backmen/Psionics/Objectives/RaiseGlimmerConditionSystem.cs
  Content.Server/Backmen/Soul/GolemSystem.cs
  Content.Server/Backmen/StationEvents/Events/MassMindSwapRule.cs
  Content.Server/StationEvents/EventManagerSystem.cs
  Content.Shared/Backmen/Soul/GolemComponent.cs
  Content.Shared/Backmen/Soul/GunHeldByGolemComponent.cs
  Content.Shared/Backmen/Soul/SharedGolemComponent.cs
  Content.Shared/Backmen/Soul/SharedGolemSystem.cs
  Content.Shared/Backmen/Soul/SoulCrystalComponent.cs
  Resources/Locale/en-US/backmen/alerts/lifedrain.ftl
  Resources/Locale/ru-RU/backmen/alerts/lifedrain.ftl
  Resources/Locale/ru-RU/backmen/objectives/conditions/become-psionic-condition.ftl
  Resources/Locale/ru-RU/backmen/soul/golem.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/glimmer_monsters.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/root.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/golem.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Specific/Research/crystals.yml
  Resources/Prototypes/_Backmen/GameRules/events.yml
  Resources/Prototypes/_Backmen/Objectives/traitorPsionic.yml
  Resources/Textures/Backmen/Objects/Materials/materials.rsi/bluespace.png
  Resources/Textures/Backmen/Objects/Materials/materials.rsi/bluespace_2.png
  Resources/Textures/Backmen/Objects/Materials/materials.rsi/bluespace_3.png
  Resources/Textures/Backmen/Objects/Materials/materials.rsi/meta.json
  Resources/Textures/Backmen/Objects/Misc/crystals.rsi/meta.json
  Resources/Textures/Backmen/Objects/Misc/crystals.rsi/purple_soul.png
Labels: Changes: Localization, Changes: Sprites, Changes: Map

#279 add sprite
  Resources/Prototypes/Entities/Structures/Power/smes.yml
  Resources/Textures/Structures/Furniture/furniture.rsi/rack.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/empty.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/full.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/light-charged.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/light-charging.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/light-empty.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/meta.json
  Resources/Textures/Structures/Power/cell_recharger.rsi/open.png
  Resources/Textures/Structures/Power/smes.rsi/meta.json
  Resources/Textures/Structures/Power/smes.rsi/smes-oc0.png
  Resources/Textures/Structures/Power/smes.rsi/smes-oc1.png
  Resources/Textures/Structures/Power/smes.rsi/smes-oc2.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og1.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og2.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og3.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og4.png
  Resources/Textures/Structures/Power/smes.rsi/smes-og5.png
  Resources/Textures/Structures/Power/smes.rsi/smes-op0.png
  Resources/Textures/Structures/Power/smes.rsi/smes-op1.png
  Resources/Textures/Structures/Power/smes.rsi/smes-op2.png
  Resources/Textures/Structures/Power/smes.rsi/smes-open.png
  Resources/Textures/Structures/Power/smes.rsi/smes.png
  Resources/Textures/Structures/Power/smes.rsi/static.png
  Resources/Textures/Structures/Power/substation.rsi/charging.png
  Resources/Textures/Structures/Power/substation.rsi/dead.png
  Resources/Textures/Structures/Power/substation.rsi/full.png
  Resources/Textures/Structures/Power/substation.rsi/meta.json
  Resources/Textures/Structures/Power/substation.rsi/screen.png
  Resources/Textures/Structures/Power/substation.rsi/screen_wall.png
  Resources/Textures/Structures/Power/substation.rsi/substation.png
  Resources/Textures/Structures/Power/substation.rsi/substation_static.png
  Resources/Textures/Structures/Power/substation.rsi/substation_wall.png
  Resources/Textures/Structures/Power/substation.rsi/substation_wall_static.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm0.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm1.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm2.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm_b1.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm_b2.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm_bitem.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarmp.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarmx.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire0.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_0.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_1.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_2.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_3.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_b0.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_b1.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_b2.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_bitem.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_detected.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_emagged.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_off.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_on.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/fire_overlay.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/firex.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/meta.json
Labels: No C#, Changes: Sprites

#281 пересборка свармеров по папкам
  Resources/Prototypes/_SpaceCats/Access/swarmer.yml
  Resources/Prototypes/_SpaceCats/Body/Parts/swarm.yml
  Resources/Prototypes/_SpaceCats/Entities/Body/swarmer.yml
  Resources/Prototypes/_SpaceCats/Entities/Effects/rcd.yml
  Resources/Prototypes/_SpaceCats/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Devices/swarm_teleporter.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_SpaceCats/Entities/Structures/Doors/Airlocks/swarm.yml
  Resources/Prototypes/_SpaceCats/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/_SpaceCats/Entities/Structures/Machines/Medical/biomass_swarm.yml
  Resources/Prototypes/_SpaceCats/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_SpaceCats/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/_SpaceCats/Entities/Structures/Walls/swarm.yml
  Resources/Prototypes/_SpaceCats/InventoryTemplates/swarmer.yml
  Resources/Prototypes/_SpaceCats/Lathes/swarm.yml
  Resources/Prototypes/_SpaceCats/RCD/rcd.yml
  Resources/Prototypes/_SpaceCats/Stack/other_stacks.yml
  Resources/Prototypes/_SpaceCats/StatusIcon/job.yml
  Resources/Prototypes/_SpaceCats/Swarmers/Materials.yml
  Resources/Prototypes/_SpaceCats/Swarmers/Moduls_Weapons.yml
  Resources/Prototypes/_SpaceCats/Swarmers/Structurs.yml
  Resources/Prototypes/_SpaceCats/Tiles/floors.yml
  Resources/Prototypes/_SpaceCats/radio_channels.yml
  Resources/Prototypes/_SpaceCats/silicon-laws.yml
  Resources/Prototypes/_SpaceCats/typing_indicator.yml
Labels: No C#

#284 rebalance swarm
  Resources/Locale/ru-RU/_Cats/syndicate.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Backmen/Statusicon/antag.yml
  Resources/Prototypes/_SpaceCats/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/_SpaceCats/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_SpaceCats/Entities/Structures/Machines/Medical/biomass_swarm.yml
  Resources/Prototypes/_SpaceCats/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/_SpaceCats/GameRules/events.yml
  Resources/Prototypes/_SpaceCats/InventoryTemplates/swarmer.yml
  Resources/Prototypes/_SpaceCats/Lathes/swarm.yml
  Resources/Prototypes/_SpaceCats/RCD/rcd.yml
  Resources/Prototypes/_SpaceCats/StatusIcon/job.yml
  Resources/Prototypes/_SpaceCats/ai_factions.yml
  Resources/Prototypes/_SpaceCats/silicon-laws.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/_SpaceCats/Interface/Misc/job_icons.rsi/SwarmComander.png
  Resources/Textures/_SpaceCats/Interface/Misc/job_icons.rsi/SwarmUnit.png
  Resources/Textures/_SpaceCats/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_SpaceCats/Swarmers/STRUCTURES/SwarmBiol_Factory.rsi/icon.png
  Resources/Textures/_SpaceCats/Swarmers/STRUCTURES/SwarmBiol_Factory.rsi/meta.json
  Resources/Textures/_SpaceCats/Swarmers/STRUCTURES/Swarm_charger.rsi/borgcharger1.png
  Resources/Textures/_SpaceCats/Swarmers/STRUCTURES/Swarm_charger.rsi/borgcharger2.png
  Resources/Textures/_SpaceCats/Swarmers/STRUCTURES/Swarm_charger.rsi/borgcharger3.png
  Resources/Textures/_SpaceCats/Swarmers/STRUCTURES/Swarm_charger.rsi/meta.json
Labels: Changes: Localization, No C#, Changes: Sprites
