Repository fospas/Space-Cats-14, pull requests merged in 2024-09, with the labels that each got.

#294 remove old radio
  Resources/Prototypes/_SpaceCats/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Devices/pinpointer.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_SpaceCats/InventoryTemplates/swarmer.yml
  Resources/Prototypes/_SpaceCats/Lathes/swarm.yml
Labels: No C#

#295 swarm debug
  Resources/Prototypes/_SpaceCats/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_SpaceCats/RCD/rcd.yml
Labels: No C#

#297 swarm
  Resources/Prototypes/_SpaceCats/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_SpaceCats/InventoryTemplates/swarmer.yml
  Resources/Prototypes/_SpaceCats/StatusIcon/job.yml
  Resources/Textures/_SpaceCats/Interface/Misc/job_icons.rsi/SwarmBase.png
  Resources/Textures/_SpaceCats/Interface/Misc/job_icons.rsi/SwarmComander.png
  Resources/Textures/_SpaceCats/Interface/Misc/job_icons.rsi/SwarmFabricator.png
  Resources/Textures/_SpaceCats/Interface/Misc/job_icons.rsi/SwarmShooter.png
  Resources/Textures/_SpaceCats/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer.rsi/Swarmer.png
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer.rsi/Swarmer_e.png
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer.rsi/Swarmer_e_r.png
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer.rsi/Swarmer_l.png
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer.rsi/borg_chest.png
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer.rsi/borg_r_arm.png
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer.rsi/meta.json
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer_base.rsi/Swarmer.png
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer_base.rsi/Swarmer_e.png
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer_base.rsi/Swarmer_e_r.png
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer_base.rsi/Swarmer_l.png
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer_base.rsi/borg_chest.png
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer_base.rsi/meta.json
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer_fabricator.rsi/Swarmer.png
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer_fabricator.rsi/Swarmer_e.png
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer_fabricator.rsi/Swarmer_e_r.png
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer_fabricator.rsi/Swarmer_l.png
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer_fabricator.rsi/borg_chest.png
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer_fabricator.rsi/borg_r_arm.png
  Resources/Textures/_SpaceCats/Swarmers/MOB-MODULS/Robots/Swarmer_fabricator.rsi/meta.json
Labels: No C#, Changes: Sprites

#298 new create and guns
  Resources/Prototypes/_SpaceCats/Entities/Objects/Tools/weapon_cases.yml
  Resources/Textures/_SpaceCats/Objects/Storage/Cases/guncaselong.rsi/icon-open.png
  Resources/Textures/_SpaceCats/Objects/Storage/Cases/guncaselong.rsi/icon.png
  Resources/Textures/_SpaceCats/Objects/Storage/Cases/guncaselong.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Objects/Storage/Cases/guncaselong.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Objects/Storage/Cases/guncaselong.rsi/meta.json
  Resources/Textures/_SpaceCats/Objects/Storage/Cases/guncaselong.rsi/unshaded.png
  Resources/Textures/_SpaceCats/Objects/Tools/guncaseheavy.rsi/icon-open.png
  Resources/Textures/_SpaceCats/Objects/Tools/guncaseheavy.rsi/icon.png
  Resources/Textures/_SpaceCats/Objects/Tools/guncaseheavy.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Objects/Tools/guncaseheavy.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Objects/Tools/guncaseheavy.rsi/meta.json
  Resources/Textures/_SpaceCats/Objects/Tools/guncaseheavy.rsi/unshaded.png
Labels: No C#, Changes: Sprites

#299 fix dooble door
  Resources/Prototypes/_SpaceCats/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
Labels: No C#

#301 new visial desrtroy and scrap
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_assembly.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
Labels: No C#

#302 Нормальный суккбский хвост.
  Resources/Textures/Backmen/Mobs/Customization/tails32x32.rsi/succubus.png
Labels: No C#, Changes: Sprites

#303 revork holy
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/_SpaceCats/Entities/Clothing/Neck/medals.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Textures/_SpaceCats/Clothing/Neck/Medals/holyhunters.rsi/equipped-NECK.png
  Resources/Textures/_SpaceCats/Clothing/Neck/Medals/holyhunters.rsi/icon.png
  Resources/Textures/_SpaceCats/Clothing/Neck/Medals/holyhunters.rsi/meta.json
  Resources/Textures/_SpaceCats/Objects/Specific/Medical/hypospray.rsi/hypo.png
  Resources/Textures/_SpaceCats/Objects/Specific/Medical/hypospray.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Objects/Specific/Medical/hypospray.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Objects/Specific/Medical/hypospray.rsi/meta.json
  Resources/Textures/_SpaceCats/Objects/Weapons/Melee/holysabre.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Melee/holysabre.rsi/icon.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Melee/holysabre.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Melee/holysabre.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Melee/holysabre.rsi/meta.json
Labels: No C#, Changes: Sprites

#306 clawling PORT
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/Crawling/Components/CrawlerComponent.cs
  Content.Shared/Crawling/Components/CrawlingComponent.cs
  Content.Shared/Crawling/CrawlingSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Traits/Assorted/LegsParalyzedSystem.cs
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Textures/Interface/Alerts/crawling.rsi/icon.png
  Resources/Textures/Interface/Alerts/crawling.rsi/meta.json
  Resources/keybinds.yml
Labels: Changes: Localization, Changes: UI, Changes: Sprites

#308 new maps
  Resources/Maps/SpaceCats/BagelSC.yml
  Resources/Maps/SpaceCats/BoxSC.yml
  Resources/Maps/SpaceCats/ClusterSC.yml
  Resources/Maps/SpaceCats/PackedSC.yml
  Resources/Prototypes/_SpaceCats/Maps/Pool/spacecatsnstandart.yml
  Resources/Prototypes/_SpaceCats/Maps/bagel.yml
  Resources/Prototypes/_SpaceCats/Maps/box.yml
  Resources/Prototypes/_SpaceCats/Maps/cluster.yml
  Resources/Prototypes/_SpaceCats/Maps/packed.yml
Labels: No C#, Changes: Map

#309 new speech booble
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/foxes.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/_SpaceCats/typing_indicator.yml
  Resources/Prototypes/typing_indicator.yml
  Resources/Textures/Effects/speech.rsi/dwarf0.png
  Resources/Textures/Effects/speech.rsi/dwarf1.png
  Resources/Textures/Effects/speech.rsi/dwarf2.png
  Resources/Textures/Effects/speech.rsi/dwarf3.png
  Resources/Textures/Effects/speech.rsi/felinid0.png
  Resources/Textures/Effects/speech.rsi/felinid1.png
  Resources/Textures/Effects/speech.rsi/felinid2.png
  Resources/Textures/Effects/speech.rsi/felinid3.png
  Resources/Textures/Effects/speech.rsi/lizard0.png
  Resources/Textures/Effects/speech.rsi/lizard1.png
  Resources/Textures/Effects/speech.rsi/lizard2.png
  Resources/Textures/Effects/speech.rsi/lizard3.png
  Resources/Textures/Effects/speech.rsi/meta.json
  Resources/Textures/Effects/speech.rsi/people0.png
  Resources/Textures/Effects/speech.rsi/people1.png
  Resources/Textures/Effects/speech.rsi/people2.png
  Resources/Textures/Effects/speech.rsi/people3.png
  Resources/Textures/Effects/speech.rsi/shadow0.png
  Resources/Textures/Effects/speech.rsi/shadow1.png
  Resources/Textures/Effects/speech.rsi/shadow2.png
  Resources/Textures/Effects/speech.rsi/shadow3.png
  Resources/Textures/Effects/speech.rsi/skeleton0.png
  Resources/Textures/Effects/speech.rsi/skeleton1.png
  Resources/Textures/Effects/speech.rsi/skeleton2.png
  Resources/Textures/Effects/speech.rsi/skeleton3.png
  Resources/Textures/Effects/speech.rsi/slime0.png
  Resources/Textures/Effects/speech.rsi/slime1.png
  Resources/Textures/Effects/speech.rsi/slime2.png
  Resources/Textures/Effects/speech.rsi/slime3.png
  Resources/Textures/Effects/speech.rsi/vox0.png
  Resources/Textures/Effects/speech.rsi/vox1.png
  Resources/Textures/Effects/speech.rsi/vox2.png
  Resources/Textures/Effects/speech.rsi/vox3.png
  Resources/Textures/Effects/speech.rsi/vulp0.png
  Resources/Textures/Effects/speech.rsi/vulp3.png
  Resources/Textures/Effects/speech.rsi/vupl1.png
  Resources/Textures/Effects/speech.rsi/vupl2.png
Labels: No C#, Changes: Sprites

#312 speech
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/foxes.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/_SpaceCats/typing_indicator.yml
  Resources/Prototypes/typing_indicator.yml
  Resources/Textures/_SpaceCats/Typing.rsi/dwarf0.png
  Resources/Textures/_SpaceCats/Typing.rsi/dwarf1.png
  Resources/Textures/_SpaceCats/Typing.rsi/dwarf2.png
  Resources/Textures/_SpaceCats/Typing.rsi/dwarf3.png
  Resources/Textures/_SpaceCats/Typing.rsi/felinid0.png
  Resources/Textures/_SpaceCats/Typing.rsi/felinid1.png
  Resources/Textures/_SpaceCats/Typing.rsi/felinid2.png
  Resources/Textures/_SpaceCats/Typing.rsi/felinid3.png
  Resources/Textures/_SpaceCats/Typing.rsi/lizard0.png
  Resources/Textures/_SpaceCats/Typing.rsi/lizard1.png
  Resources/Textures/_SpaceCats/Typing.rsi/lizard2.png
  Resources/Textures/_SpaceCats/Typing.rsi/lizard3.png
  Resources/Textures/_SpaceCats/Typing.rsi/meta.json
  Resources/Textures/_SpaceCats/Typing.rsi/people0.png
  Resources/Textures/_SpaceCats/Typing.rsi/people1.png
  Resources/Textures/_SpaceCats/Typing.rsi/people2.png
  Resources/Textures/_SpaceCats/Typing.rsi/people3.png
  Resources/Textures/_SpaceCats/Typing.rsi/shadow0.png
  Resources/Textures/_SpaceCats/Typing.rsi/shadow1.png
  Resources/Textures/_SpaceCats/Typing.rsi/shadow2.png
  Resources/Textures/_SpaceCats/Typing.rsi/shadow3.png
  Resources/Textures/_SpaceCats/Typing.rsi/skeleton0.png
  Resources/Textures/_SpaceCats/Typing.rsi/skeleton1.png
  Resources/Textures/_SpaceCats/Typing.rsi/skeleton2.png
  Resources/Textures/_SpaceCats/Typing.rsi/skeleton3.png
  Resources/Textures/_SpaceCats/Typing.rsi/spider0.png
  Resources/Textures/_SpaceCats/Typing.rsi/spider1.png
  Resources/Textures/_SpaceCats/Typing.rsi/spider2.png
  Resources/Textures/_SpaceCats/Typing.rsi/spider3.png
  Resources/Textures/_SpaceCats/Typing.rsi/vox0.png
  Resources/Textures/_SpaceCats/Typing.rsi/vox1.png
  Resources/Textures/_SpaceCats/Typing.rsi/vox2.png
  Resources/Textures/_SpaceCats/Typing.rsi/vox3.png
  Resources/Textures/_SpaceCats/Typing.rsi/vulp0.png
  Resources/Textures/_SpaceCats/Typing.rsi/vulp1.png
  Resources/Textures/_SpaceCats/Typing.rsi/vulp2.png
  Resources/Textures/_SpaceCats/Typing.rsi/vulp3.png
Labels: No C#, Changes: Sprites

#314 add color emote
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
Labels: Changes: Localization, No C#

#315 add drop Slip
  Content.Server/_Cats/Slippery/DropOnSlipComponent.cs
  Content.Server/_Cats/Slippery/DropOnSlipSystem.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Resources/Locale/en-US/_Cats/Content/Slippery/dropOnSlip.ftl
  Resources/Locale/ru-RU/_Cats/Content/Slippery/dropOnSlip.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Clothing/Head/soft.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
Labels: Changes: Localization

#317 Dev
  Resources/Textures/Objects/Devices/nuke.rsi/meta.json
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_base.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_deployed.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_deployed_unlit.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_exploding.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_gay.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_timing.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbombc.png
  Resources/Textures/Structures/Hydroponics/containers.rsi/hydrotray.png
  Resources/Textures/Structures/Hydroponics/containers.rsi/hydrotray2.png
  Resources/Textures/Structures/Hydroponics/containers.rsi/hydrotray3.png
  Resources/Textures/Structures/Hydroponics/overlays.rsi/alert3.png
  Resources/Textures/Structures/Hydroponics/overlays.rsi/harvest3.png
  Resources/Textures/Structures/Hydroponics/overlays.rsi/lowhealth3.png
  Resources/Textures/Structures/Hydroponics/overlays.rsi/lownutri3.png
  Resources/Textures/Structures/Hydroponics/overlays.rsi/lowwater3.png
  Resources/Textures/Structures/Hydroponics/overlays.rsi/meta.json
  Resources/Textures/Structures/Machines/fax_machine.rsi/icon.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/idle.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/inserting.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/inserting_hamster.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/inserting_mothroach.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/inserting_mouse.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/printing.png
  Resources/Textures/Structures/Machines/juicer.rsi/juicer0.png
  Resources/Textures/Structures/Machines/juicer.rsi/juicer1.png
  Resources/Textures/Structures/Machines/mixer.rsi/meta.json
  Resources/Textures/Structures/Machines/mixer.rsi/mixer_broken.png
  Resources/Textures/Structures/Machines/mixer.rsi/mixer_empty.png
  Resources/Textures/Structures/Machines/mixer.rsi/mixer_loaded.png
  Resources/Textures/Structures/Machines/mixer.rsi/mixer_screen_broken.png
  Resources/Textures/Structures/Machines/mixer.rsi/mixer_screens.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm0.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm1.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm2.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm_b1.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm_b2.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm_bitem.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarmp.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarmx.png
Labels: No C#, Changes: Sprites

#322 add new song
  Resources/Audio/Announcements/announce.ogg
  Resources/Audio/Announcements/infestation.ogg
  Resources/Audio/Announcements/power_off.ogg
  Resources/Audio/Announcements/power_on.ogg
  Resources/Audio/Machines/airlock_close.ogg
  Resources/Audio/Machines/airlock_open.ogg
  Resources/Locale/ru-RU/station-events/events/mouse-migration.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/pests.yml
Labels: Changes: Localization, No C#

#323 radio color jobs
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/Access/Systems/PresetIdCardSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Labels: Changes: Localization

#325 UPD AI
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
  Resources/Prototypes/_SpaceCats/SecBorg/Moduls_Weapons.yml
  Resources/Prototypes/_SpaceCats/SecBorg/SecBorg.yml
  Resources/Textures/_SpaceCats/SecBorg/Borg.rsi/meta.json
  Resources/Textures/_SpaceCats/SecBorg/Borg.rsi/sec.png
  Resources/Textures/_SpaceCats/SecBorg/Borg.rsi/sec_e.png
  Resources/Textures/_SpaceCats/SecBorg/Borg.rsi/sec_e_r.png
  Resources/Textures/_SpaceCats/SecBorg/Borg.rsi/sec_l.png
  Resources/Textures/_SpaceCats/SecBorg/Borg_laser_gun.rsi/OmniLetal.png
  Resources/Textures/_SpaceCats/SecBorg/Borg_laser_gun.rsi/base.png
  Resources/Textures/_SpaceCats/SecBorg/Borg_laser_gun.rsi/icon.png
  Resources/Textures/_SpaceCats/SecBorg/Borg_laser_gun.rsi/mag-unshaded-1.png
  Resources/Textures/_SpaceCats/SecBorg/Borg_laser_gun.rsi/mag-unshaded-2.png
  Resources/Textures/_SpaceCats/SecBorg/Borg_laser_gun.rsi/mag-unshaded-3.png
  Resources/Textures/_SpaceCats/SecBorg/Borg_laser_gun.rsi/mag-unshaded-4.png
  Resources/Textures/_SpaceCats/SecBorg/Borg_laser_gun.rsi/meta.json
  Resources/Textures/_SpaceCats/SecBorg/modul.rsi/SecModul-icon.png
  Resources/Textures/_SpaceCats/SecBorg/modul.rsi/SecModul.png
  Resources/Textures/_SpaceCats/SecBorg/modul.rsi/meta.json
Labels: No C#, Changes: Sprites

#326 Upstream
  Content.Client/Backmen/Teams/CapturePoint/CapturePointOverlay.cs
  Content.Client/Backmen/Teams/CapturePoint/CapturePointSystem.cs
  Content.Client/Backmen/Teams/TdmTeamSystem.cs
  Content.Server/Backmen/ShipVsShip/Components/ShipVsShipGameComponent.cs
  Content.Server/Backmen/ShipVsShip/Components/StationTeamMarkerComponent.cs
  Content.Server/Backmen/ShipVsShip/ShipVsShipGame.cs
  Content.Server/Backmen/Teams/CapturePoint/CapturePointSystem.cs
  Content.Server/Backmen/Teams/TdmTeamSystem.cs
  Content.Shared/Backmen/ShipVsShip/SVSTeamMember.cs
  Content.Shared/Backmen/Teams/CapturePoint/BkmCapturePointChangeEvent.cs
  Content.Shared/Backmen/Teams/CapturePoint/Components/BkmCapturePointComponent.cs
  Content.Shared/Backmen/Teams/CapturePoint/SharedCapturePointSystem.cs
  Content.Shared/Backmen/Teams/Components/TdmMemberComponent.cs
  Content.Shared/Backmen/Teams/SharedTdmTeamSystem.cs
  Content.Shared/Backmen/Teams/StationTeamMarker.cs
  Resources/Locale/ru-RU/backmen/teams/ctp.ftl
  Resources/Prototypes/_Backmen/Statusicon/antag.yml
  Resources/Prototypes/_Backmen/Teams/Capture/control_points.yml
  Resources/Prototypes/_Backmen/Teams/faction.yml
  Resources/Prototypes/_Backmen/Teams/turrets.yml
  Resources/Textures/Backmen/Objects/Weapons/Guns/Turrets/laser.rsi/black.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Turrets/laser.rsi/meta.json
  Resources/Textures/Backmen/Objects/Weapons/Guns/Turrets/laser.rsi/team_a.png
  Resources/Textures/Backmen/Objects/Weapons/Guns/Turrets/laser.rsi/team_b.png
  Resources/Textures/Backmen/Teams/CTP/greenbox.rsi/a_capturing_by_b.png
  Resources/Textures/Backmen/Teams/CTP/greenbox.rsi/b_capturing_by_a.png
  Resources/Textures/Backmen/Teams/CTP/greenbox.rsi/captured_by_a.png
  Resources/Textures/Backmen/Teams/CTP/greenbox.rsi/captured_by_b.png
  Resources/Textures/Backmen/Teams/CTP/greenbox.rsi/captured_by_n.png
  Resources/Textures/Backmen/Teams/CTP/greenbox.rsi/meta.json
  Resources/Textures/Backmen/Teams/CTP/greenbox.rsi/n_capturing_by_a.png
  Resources/Textures/Backmen/Teams/CTP/greenbox.rsi/n_capturing_by_b.png
Labels: Changes: Localization, Changes: Sprites

#328 rebalance
  Resources/Prototypes/_Backmen/Entities/Markers/Spawners/specforce.yml
  Resources/Prototypes/_Backmen/Roles/Fun/ERT_Theta.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Weapons/Guns/turrets.yml
Labels: No C#

#329 add footprints blood
  Content.Server/Footprints/Components/CanLeaveFootprintsComponent.cs
  Content.Server/Footprints/Components/GivesFootprintsComponent.cs
  Content.Server/Footprints/Components/LeavesFootprintsComponent.cs
  Content.Server/Footprints/Systems/LeaveFootprintSystem.cs
  Content.Server/Footprints/Systems/UpdateFootprintsSystem.cs
  Resources/Prototypes/Decals/footprints.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/gingerbread.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/foxes.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/oni.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/shadowkin.yml
  Resources/Textures/Decals/footprints.rsi/4legs-l.png
  Resources/Textures/Decals/footprints.rsi/4legs-r.png
  Resources/Textures/Decals/footprints.rsi/6legs-l.png
  Resources/Textures/Decals/footprints.rsi/6legs-r.png
  Resources/Textures/Decals/footprints.rsi/8legs-l.png
  Resources/Textures/Decals/footprints.rsi/8legs-r.png
  Resources/Textures/Decals/footprints.rsi/boot-l.png
  Resources/Textures/Decals/footprints.rsi/boot-r.png
  Resources/Textures/Decals/footprints.rsi/claw-l.png
  Resources/Textures/Decals/footprints.rsi/claw-r.png
  Resources/Textures/Decals/footprints.rsi/foot-l.png
  Resources/Textures/Decals/footprints.rsi/foot-r.png
  Resources/Textures/Decals/footprints.rsi/meta.json
Labels: Changes: Sprites

#332 new resprite toolbox
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_blue.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_blue.rsi/icon.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_blue.rsi/meta.json
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_gold.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_gold.rsi/icon.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_gold.rsi/meta.json
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_green.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_green.rsi/icon.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_green.rsi/meta.json
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_red.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_red.rsi/icon.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_red.rsi/meta.json
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_syn.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_syn.rsi/icon.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_syn.rsi/meta.json
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_thief.rsi/icon.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_yellow.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_yellow.rsi/icon.png
  Resources/Textures/Objects/Tools/Toolboxes/toolbox_yellow.rsi/meta.json
Labels: No C#, Changes: Sprites

#337 Revert "radio color jobs"
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/Access/Systems/PresetIdCardSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/blueshield.yml
Labels: Changes: Localization

#341 Revert "add footprints blood"
  Content.Server/Footprints/Components/CanLeaveFootprintsComponent.cs
  Content.Server/Footprints/Components/GivesFootprintsComponent.cs
  Content.Server/Footprints/Components/LeavesFootprintsComponent.cs
  Content.Server/Footprints/Systems/LeaveFootprintSystem.cs
  Content.Server/Footprints/Systems/UpdateFootprintsSystem.cs
  Resources/Prototypes/Decals/footprints.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/gingerbread.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/foxes.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/oni.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/shadowkin.yml
  Resources/Textures/Decals/footprints.rsi/4legs-l.png
  Resources/Textures/Decals/footprints.rsi/4legs-r.png
  Resources/Textures/Decals/footprints.rsi/6legs-l.png
  Resources/Textures/Decals/footprints.rsi/6legs-r.png
  Resources/Textures/Decals/footprints.rsi/8legs-l.png
  Resources/Textures/Decals/footprints.rsi/8legs-r.png
  Resources/Textures/Decals/footprints.rsi/boot-l.png
  Resources/Textures/Decals/footprints.rsi/boot-r.png
  Resources/Textures/Decals/footprints.rsi/claw-l.png
  Resources/Textures/Decals/footprints.rsi/claw-r.png
  Resources/Textures/Decals/footprints.rsi/foot-l.png
  Resources/Textures/Decals/footprints.rsi/foot-r.png
  Resources/Textures/Decals/footprints.rsi/meta.json
Labels: Changes: Sprites

#340 add synditeleport
  Content.Server/_Cats/SyndicateTeleporter/Components/SyndicateTeleporterComponent.cs
  Content.Server/_Cats/SyndicateTeleporter/Systems/SyndicateTeleporterSystem.cs
  Resources/Audio/_Cats/Effects/attributions.yml
  Resources/Audio/_Cats/Effects/emergency-pager-sound.ogg
  Resources/Audio/_Cats/Effects/teleport.ogg
  Resources/Audio/_Cats/Effects/zap.ogg
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_SpaceCats/Entities/Effects/teleport_effect.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Devices/syndicate_teleporter.yml
  Resources/Prototypes/_SpaceCats/SoundCollections/broken_device.yml
  Resources/Textures/_SpaceCats/Effects/teleport_sparks.rsi/meta.json
  Resources/Textures/_SpaceCats/Effects/teleport_sparks.rsi/sparks.png
  Resources/Textures/_SpaceCats/Objects/Devices/syndicate_teleporter.rsi/icon.png
  Resources/Textures/_SpaceCats/Objects/Devices/syndicate_teleporter.rsi/meta.json
Labels: Changes: Localization, Changes: Sprites

#342 Плюшевые игрушки
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_SpaceCats/Misc/plushies.yml
  Resources/Textures/_SpaceCats/Misc/fejet.rsi/meta.json
  Resources/Textures/_SpaceCats/Misc/fejet.rsi/plushie_fejet.png
  Resources/Textures/_SpaceCats/Objects/Weapons/Melee/HosSword.rsi/meta.json
Labels: No C#, Changes: Sprites

#343 Upd upstream
  .github/CODEOWNERS
Labels: No C#

#344 add resprite sut storage
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Textures/Structures/Storage/suit_storage.rsi/base.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/cargo.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/command.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/door.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/engi.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/locked.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/medical.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/meta.json
  Resources/Textures/Structures/Storage/suit_storage.rsi/panel.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/scientists.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/security.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/syndicate.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/unlocked.png
  Resources/Textures/Structures/Storage/suit_storage.rsi/welded.png
Labels: No C#, Changes: Sprites

#347 add and fix
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Lockers/suit_storage.yml
Labels: No C#

#346 add color
  Content.Client/Lobby/UI/CharacterSetupGui.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Stylesheets/StyleBase.cs
  Content.Client/Stylesheets/StyleNano.cs
  Resources/Textures/_SpaceCats/Interface/Nano/lobby.png
  Resources/Textures/_SpaceCats/Interface/Nano/panel.png
Labels: Changes: UI

#348 [PORT] new speel revenant
  Content.Client/Revenant/RevenantAnimatedComponent.cs
  Content.Client/Revenant/RevenantAnimatedSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.OnUse.cs
  Content.Server/NPC/HTN/Preconditions/ActiveTimerPrecondition.cs
  Content.Server/NPC/HTN/Preconditions/InContainerPrecondition.cs
  Content.Server/NPC/HTN/Preconditions/ThrownPrecondition.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Interactions/InteractionActivateSelfOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Interactions/InteractionActivateTargetOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Interactions/JumpInSlotsOperator.cs
  Content.Server/NPC/Queries/Considerations/TargetIsCuffableCon.cs
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Server/Revenant/Components/RevenantAnimatedComponent.cs
  Content.Server/Revenant/EntitySystems/RevenantAnimatedSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Inventory/InventorySystem.Slots.cs
  Content.Shared/Revenant/Components/RevenantComponent.cs
  Content.Shared/Revenant/SharedRevenant.cs
  Resources/Locale/en-US/administration/smites.ftl
  Resources/Locale/en-US/revenant/revenant.ftl
  Resources/Locale/en-US/store/revenant-catalog.ftl
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/revenant/revenant.ftl
  Resources/Locale/ru-RU/store/revenant-catalog.ftl
  Resources/NPCs/Animated/handcuffs.yml
  Resources/Prototypes/Actions/revenant.yml
  Resources/Prototypes/Catalog/revenant_catalog.yml
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/NPCs/Animated/grenades.yml
  Resources/Textures/Interface/Actions/animate.png
  Resources/Textures/Interface/Actions/inanimate.png
Labels: Changes: Localization

#353 Upd upstream
  .github/PULL_REQUEST_TEMPLATE.md
  Content.Client/Backmen/Ghost/GhostReJoinEui.cs
  Content.Client/Backmen/Ghost/GhostReJoinSystem.cs
  Content.Client/Backmen/Ghost/UI/GhostReJoinSelect.xaml
  Content.Client/Backmen/Ghost/UI/GhostReJoinSelect.xaml.cs
  Content.Client/Backmen/Soul/GolemBoundUserInterface.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Server/Backmen/EvilTwin/EvilTwinRoleComponent.cs
  Content.Server/Backmen/Ghost/GhostReJoinEui.cs
  Content.Server/Backmen/Ghost/GhostReJoinSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Content.Shared/Backmen/Ghost/GhostReJoinInterfaceState.cs
  Content.Shared/Backmen/Ghost/SharedGhostReJoinSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Ghost/GhostComponent.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Resources/Locale/ru-RU/backmen/ghost/respawn.ftl
Labels: Changes: Localization, Changes: UI

#359 [PORT] new races Zerah
  Resources/Audio/_Cats/Snake/ZerahDead.ogg
  Resources/Audio/_Cats/Snake/ZerahEat.ogg
  Resources/Audio/_Cats/Snake/ZerahHaha1.ogg
  Resources/Audio/_Cats/Snake/ZerahHaha2.ogg
  Resources/Audio/_Cats/Snake/ZerahScream1.ogg
  Resources/Audio/_Cats/Snake/ZerahScream2.ogg
  Resources/Audio/_Cats/Snake/ZerahScream3.ogg
  Resources/Audio/_Cats/Snake/ZerahSpeach1.ogg
  Resources/Audio/_Cats/Snake/ZerahSpeach2.ogg
  Resources/Audio/_Cats/Snake/ZerahSpeach3.ogg
  Resources/Audio/_Cats/Snake/ZerahStep1.ogg
  Resources/Audio/_Cats/Snake/ZerahStep2.ogg
  Resources/Audio/_Cats/Snake/ZerahStep3.ogg
  Resources/Audio/_Cats/Snake/ZerahStep4.ogg
  Resources/Locale/ru-RU/_Cats/shake.ftl
  Resources/Prototypes/_SpaceCats/Snake/Snake_Body.yml
  Resources/Prototypes/_SpaceCats/Snake/Snake_Cust.yml
  Resources/Prototypes/_SpaceCats/Snake/Snake_Dataset.yml
  Resources/Prototypes/_SpaceCats/Snake/Snake_Mobs.yml
  Resources/Prototypes/_SpaceCats/Snake/Snake_Sounds.yml
  Resources/Prototypes/_SpaceCats/Snake/Snake_Species.yml
  Resources/Textures/_SpaceCats/Snake/Customs.rsi/Cust.rsi/body.png
  Resources/Textures/_SpaceCats/Snake/Customs.rsi/Cust.rsi/collar1.png
  Resources/Textures/_SpaceCats/Snake/Customs.rsi/Cust.rsi/collar2.png
  Resources/Textures/_SpaceCats/Snake/Customs.rsi/Cust.rsi/ears.png
  Resources/Textures/_SpaceCats/Snake/Customs.rsi/Cust.rsi/gargona.png
  Resources/Textures/_SpaceCats/Snake/Customs.rsi/Cust.rsi/horn_back.png
  Resources/Textures/_SpaceCats/Snake/Customs.rsi/Cust.rsi/horn_big.png
  Resources/Textures/_SpaceCats/Snake/Customs.rsi/Cust.rsi/horn_down.png
  Resources/Textures/_SpaceCats/Snake/Customs.rsi/Cust.rsi/horn_trio.png
  Resources/Textures/_SpaceCats/Snake/Customs.rsi/Cust.rsi/horn_up.png
  Resources/Textures/_SpaceCats/Snake/Customs.rsi/Cust.rsi/meta.json
  Resources/Textures/_SpaceCats/Snake/Customs.rsi/Cust.rsi/viper.png
  Resources/Textures/_SpaceCats/Snake/Customs.rsi/Teils48x48.rsi/Snake_teile_big.png
  Resources/Textures/_SpaceCats/Snake/Customs.rsi/Teils48x48.rsi/meta.json
  Resources/Textures/_SpaceCats/Snake/Desp.rsi/desp_f.png
  Resources/Textures/_SpaceCats/Snake/Desp.rsi/desp_m.png
  Resources/Textures/_SpaceCats/Snake/Desp.rsi/meta.json
  Resources/Textures/_SpaceCats/Snake/parts.rsi/Head+.png
  Resources/Textures/_SpaceCats/Snake/parts.rsi/MegaFull.png
  Resources/Textures/_SpaceCats/Snake/parts.rsi/Teil_base.png
  Resources/Textures/_SpaceCats/Snake/parts.rsi/eyes.png
  Resources/Textures/_SpaceCats/Snake/parts.rsi/full.png
  Resources/Textures/_SpaceCats/Snake/parts.rsi/head_f.png
  Resources/Textures/_SpaceCats/Snake/parts.rsi/head_m.png
  Resources/Textures/_SpaceCats/Snake/parts.rsi/l_arm.png
  Resources/Textures/_SpaceCats/Snake/parts.rsi/l_hand.png
  Resources/Textures/_SpaceCats/Snake/parts.rsi/meta.json
  Resources/Textures/_SpaceCats/Snake/parts.rsi/r_arm.png
  Resources/Textures/_SpaceCats/Snake/parts.rsi/r_hand.png
  Resources/Textures/_SpaceCats/Snake/parts.rsi/torso_f.png
  Resources/Textures/_SpaceCats/Snake/parts.rsi/torso_m.png
Labels: Changes: Localization, No C#, Changes: Sprites

#360 remove mech
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/adminbuse/mechi_silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/adminbuse/mechi_silicon_pushki.ftl
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/mechi_silicon.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Rifles/mech_rifles.yml
Labels: Changes: Localization, No C#

#363 revert clawling
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/Crawling/Components/CrawlerComponent.cs
  Content.Shared/Crawling/Components/CrawlingComponent.cs
  Content.Shared/Crawling/CrawlingSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Traits/Assorted/LegsParalyzedSystem.cs
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Textures/Interface/Alerts/crawling.rsi/icon.png
  Resources/Textures/Interface/Alerts/crawling.rsi/meta.json
  Resources/keybinds.yml
Labels: Changes: Localization, Changes: UI, Changes: Sprites

#364 Upd upstream
  Content.Client/Backmen/Standing/LayingDownSystem.cs
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.Server/Backmen/Ghost/GhostReJoinSystem.cs
  Content.Server/Backmen/Standing/LayingDownSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Content.Shared/Backmen/Standing/LayingDownComponent.cs
  Content.Shared/Backmen/Standing/SharedLayingDownSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/ru-RU/backmen/escape-menu/options-menu.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/keybinds.yml
Labels: Changes: Localization, Changes: UI

#367 Revert "plantanalyzer"
  Content.Client/_Cats/PlantAnalyzer/UI/PlantAnalyzerBoundUserInterface.cs
  Content.Client/_Cats/PlantAnalyzer/UI/PlantAnalyzerWindow.xaml
  Content.Client/_Cats/PlantAnalyzer/UI/PlantAnalyzerWindow.xaml.cs
  Content.Server/_Cats/Botany/Components/PlantAnalyzerComponent.cs
  Content.Server/_Cats/Botany/Systems/PlantAnalyzerSystem.cs
  Content.Shared/_Cats/PlantAnalyzer/PlantAnalyzerDoAfterEvent.cs
  Content.Shared/_Cats/PlantAnalyzer/PlantAnalyzerScannedSeedPlantInformation.cs
  Content.Shared/_Cats/PlantAnalyzer/PlantAnalyzerUiKey.cs
  Resources/Locale/en-US/botany/components/plantanalyzer.ftl
  Resources/Locale/ru-RU/botany/components/plantanalyzer.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Devices/plant_analyzer.yml
  Resources/Prototypes/_SpaceCats/Recipes/Lathes/botany.yml
  Resources/Resources/Locale/ru-RU/ss14-ru/prototypes/_Cats/entities/structures/furniture/armory/weapon_racks_security.ftl
  Resources/Textures/_SpaceCats/Objects/Devices/plant_analyzer.rsi/icon.png
  Resources/Textures/_SpaceCats/Objects/Devices/plant_analyzer.rsi/meta.json
  Resources/Textures/_SpaceCats/Objects/Devices/plant_analyzer.rsi/plantanalyzer.png
Labels: Changes: Localization, Changes: UI, Changes: Sprites

#377 rebalance meh
  Resources/Textures/Objects/Specific/Mech/gygax_construction.rsi/gygax17.png
  Resources/Textures/Objects/Specific/Mech/gygax_construction.rsi/gygax18.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/darkgygax-broken.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/darkgygax-open.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/darkgygax.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/firefighter-broken.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/firefighter-open.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/firefighter.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/gygax-open.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/gygax.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/hauler-broken.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/hauler-empty.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/hauler-open.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/hauler.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/marauder.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/mauler-broken.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/mauler-open.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/mauler.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/odysseus-broken.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/odysseus-open.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/odysseus.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/phazon-broken.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/phazon-open.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/phazon-phase.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/phazon.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ripley-broken-old.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ripley-broken.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ripley-empty.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ripley-old.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ripley-open.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ripley.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ripleymkii-broken.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ripleymkii-open.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/ripleymkii.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/seraph-broken.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/seraph-open.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/seraph.png
  Resources/Textures/Objects/Specific/Mech/ripley_construction.rsi/ripley17.png
  Resources/Textures/Objects/Specific/Mech/ripley_construction.rsi/ripley18.png
Labels: No C#, Changes: Sprites

#386 Upd
  Content.Client/Entry/EntryPoint.cs
  Content.Client/_RMC14/Explosion/RMCExplosionShockWaveOverlay.cs
  Content.Server/Explosion/EntitySystems/ClusterGrenadeSystem.cs
  Content.Server/_EinsteinEngines/Shower/ShowerSystem.cs
  Content.Shared/_EinsteinEngines/Showers/SharedShowerSystem.cs
  Content.Shared/_EinsteinEngines/Showers/ShowerComponent.cs
  Content.Shared/_RMC14/Explosion/RMCExplosionShockWaveComponent.cs
  Resources/Audio/Ambience/Objects/shower_enable.ogg
  Resources/Audio/Ambience/Objects/shower_running.ogg
  Resources/Locale/ru-RU/_einsteinengines/shower/shower-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_einsteinengines/entities/structures/furniture/shower.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/clusterbang.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/shower.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Prototypes/_Ataraxia/Entities/Effects/shock_wave.yml
  Resources/Prototypes/_Ataraxia/Shaders/shaders.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Structures/Furniture/shower.yml
  Resources/Prototypes/_EinsteinEngines/Recipes/Construction/furniture.yml
  Resources/Textures/_EinsteinEngines/Structures/Furniture/shower.rsi/meta.json
  Resources/Textures/_EinsteinEngines/Structures/Furniture/shower.rsi/shower.png
  Resources/Textures/_EinsteinEngines/Structures/Furniture/shower.rsi/shower_on.png
  Resources/Textures/_RMC14/Shaders/shock_wave.swsl
Labels: Changes: Localization, Changes: Sprites, Changes: Shaders

#391 Usptream
  Content.IntegrationTests/Tests/DoAfter/DoAfterCancellationTests.cs
  Content.Server/Backmen/Immersive/Systems/ImmersiveSystem.cs
  Content.Server/Backmen/Telescope/TelescopeSystem.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Content.Shared/Prying/Components/PryingComponent.cs
  Content.Shared/Prying/Systems/PryingSystem.cs
  Content.Shared/Tools/Components/ToolTileCompatibleComponent.cs
  Content.Shared/_White/Telescope/SharedTelescopeSystem.cs
  Resources/Locale/en-US/tools/tool-qualities.ftl
  Resources/Locale/ru-RU/_white/tools/tool-qualities.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Tiles/plating.yml
  Resources/Prototypes/_Ataraxia/GameRules/roundstart.yml
  Resources/Prototypes/_White/tool_qualities.yml
Labels: Changes: Localization

#393 repsrite rack
  Resources/Textures/Structures/Furniture/furniture.rsi/meta.json
  Resources/Textures/Structures/Furniture/furniture.rsi/rack.png
Labels: No C#, Changes: Sprites

#394 add cucumber
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_SpaceCats/Hydroponics/seeds.yml
  Resources/Textures/_SpaceCats/Objects/Specific/Hydroponics/cucumber.rsi/dead.png
  Resources/Textures/_SpaceCats/Objects/Specific/Hydroponics/cucumber.rsi/harvest.png
  Resources/Textures/_SpaceCats/Objects/Specific/Hydroponics/cucumber.rsi/meta.json
  Resources/Textures/_SpaceCats/Objects/Specific/Hydroponics/cucumber.rsi/produce.png
  Resources/Textures/_SpaceCats/Objects/Specific/Hydroponics/cucumber.rsi/seed.png
  Resources/Textures/_SpaceCats/Objects/Specific/Hydroponics/cucumber.rsi/stage-1.png
  Resources/Textures/_SpaceCats/Objects/Specific/Hydroponics/cucumber.rsi/stage-2.png
  Resources/Textures/_SpaceCats/Objects/Specific/Hydroponics/cucumber.rsi/stage-3.png
  Resources/Textures/_SpaceCats/Objects/Specific/Hydroponics/cucumber.rsi/stage-4.png
  Resources/Textures/_SpaceCats/Objects/Specific/Hydroponics/cucumber.rsi/stage-5.png
Labels: Changes: Localization, No C#, Changes: Sprites

#396 Usptream
  Content.Client/CombatMode/CombatModeSystem.cs
  Content.Shared/CombatMode/CombatModeComponent.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
  Resources/Audio/_Ataraxia/Effects/CombatMode/attributions.yml
  Resources/Audio/_Ataraxia/Effects/CombatMode/off.ogg
  Resources/Audio/_Ataraxia/Effects/CombatMode/on.ogg
  Resources/ConfigPresets/Backmen/main.toml
  Resources/Textures/_Ataraxia/Effects/combat_mode.rsi/combat_mode.png
  Resources/Textures/_Ataraxia/Effects/combat_mode.rsi/meta.json
Labels: Changes: Sprites

#397 fix cryo
  Resources/Textures/Structures/cryostoragemedical.rsi/sleeper_0.png
  Resources/Textures/Structures/cryostoragemedical.rsi/sleeper_1.png
  Resources/Textures/Structures/cryostorageratvar.rsi/sleeper_0.png
  Resources/Textures/Structures/cryostorageratvar.rsi/sleeper_1.png
  Resources/Textures/Structures/cryostoragesyndicat.rsi/sleeper_0.png
  Resources/Textures/Structures/cryostoragesyndicat.rsi/sleeper_1.png
Labels: No C#, Changes: Sprites

#398 add meh research
  Resources/Prototypes/Entities/Structures/Machines/research.yml
  Resources/Prototypes/_Ataraxia/Research/Disciplines/security_disciplines.yml
  Resources/Prototypes/_Ataraxia/Research/security.yml
Labels: No C#

#399 Revert "Usptream"
  Content.Client/CombatMode/CombatModeSystem.cs
  Content.Shared/CombatMode/CombatModeComponent.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
  Resources/Audio/_Ataraxia/Effects/CombatMode/attributions.yml
  Resources/Audio/_Ataraxia/Effects/CombatMode/off.ogg
  Resources/Audio/_Ataraxia/Effects/CombatMode/on.ogg
  Resources/ConfigPresets/Backmen/main.toml
  Resources/Textures/_Ataraxia/Effects/combat_mode.rsi/combat_mode.png
  Resources/Textures/_Ataraxia/Effects/combat_mode.rsi/meta.json
Labels: Changes: Sprites

#400 снайпер ОПЗ
  Resources/Prototypes/_SpaceCats/Catalog/cargo.yml
  Resources/Prototypes/_SpaceCats/Entities/Clothing/Hardsuits/hardsuits.yml
  Resources/Textures/Clothing/Head/Hardsuits/brigmedic.rsi/icon.png
  Resources/Textures/_SpaceCats/Clothing/Head/Hardsuits/cloaker.rsi/equipped-HELMET.png
  Resources/Textures/_SpaceCats/Clothing/Head/Hardsuits/cloaker.rsi/icon.png
  Resources/Textures/_SpaceCats/Clothing/Head/Hardsuits/cloaker.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Clothing/Head/Hardsuits/cloaker.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Clothing/Head/Hardsuits/cloaker.rsi/meta.json
  Resources/Textures/_SpaceCats/Clothing/OuterClothing/Hardsuits/cloaker.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/_SpaceCats/Clothing/OuterClothing/Hardsuits/cloaker.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_SpaceCats/Clothing/OuterClothing/Hardsuits/cloaker.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_SpaceCats/Clothing/OuterClothing/Hardsuits/cloaker.rsi/icon.png
  Resources/Textures/_SpaceCats/Clothing/OuterClothing/Hardsuits/cloaker.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Clothing/OuterClothing/Hardsuits/cloaker.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Clothing/OuterClothing/Hardsuits/cloaker.rsi/meta.json
Labels: No C#, Changes: Sprites

#405 Баланс снайпера ОПЗ
  Resources/Prototypes/_SpaceCats/Entities/Clothing/Hardsuits/hardsuits.yml
  Resources/Textures/_SpaceCats/Clothing/Head/Hardsuits/cloaker.rsi/equipped-HELMET.png
  Resources/Textures/_SpaceCats/Clothing/Head/Hardsuits/cloaker.rsi/icon.png
  Resources/Textures/_SpaceCats/Clothing/OuterClothing/Hardsuits/cloaker.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/_SpaceCats/Clothing/OuterClothing/Hardsuits/cloaker.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_SpaceCats/Clothing/OuterClothing/Hardsuits/cloaker.rsi/icon.png
  Resources/Textures/_SpaceCats/Clothing/OuterClothing/Hardsuits/cloaker.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Clothing/OuterClothing/Hardsuits/cloaker.rsi/inhand-right.png
Labels: No C#, Changes: Sprites

#406 Usptream
  .github/CODEOWNERS
  Content.Client/Backmen/OfferItem/OfferItemIndicatorsOverlay.cs
  Content.Client/Backmen/OfferItem/OfferItemSystem.cs
  Content.Client/Corvax/TTS/TTSSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Server/Backmen/Immersive/Systems/ImmersiveSystem.cs
  Content.Server/Backmen/OfferItem/OfferItemSystem.cs
  Content.Shared/Backmen/Alert/Click/AcceptingOffer.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Content.Shared/Backmen/OfferItem/OfferItemComponent.cs
  Content.Shared/Backmen/OfferItem/SharedOfferItemSystem.Interactions.cs
  Content.Shared/Backmen/OfferItem/SharedOfferItemSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/interaction/offer-item-system.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Textures/Interface/Alerts/offer_item.rsi/meta.json
  Resources/Textures/Interface/Alerts/offer_item.rsi/offer_item.png
  Resources/Textures/Interface/Misc/give_item.rsi/give_item.png
  Resources/Textures/Interface/Misc/give_item.rsi/meta.json
  Resources/keybinds.yml
Labels: Changes: Localization, Changes: UI, Changes: Sprites

#409 new repsrite tiles
  Resources/Textures/Tiles/bar.png
  Resources/Textures/Tiles/blue.png
  Resources/Textures/Tiles/cafeteria.png
  Resources/Textures/Tiles/checker_dark.png
  Resources/Textures/Tiles/clown.png
  Resources/Textures/Tiles/dark.png
  Resources/Textures/Tiles/dark_diagonal.png
  Resources/Textures/Tiles/dark_diagonal_mini.png
  Resources/Textures/Tiles/dark_herringbone.png
  Resources/Textures/Tiles/dark_mini.png
  Resources/Textures/Tiles/dark_mono.png
  Resources/Textures/Tiles/dark_offset.png
  Resources/Textures/Tiles/dark_pavement.png
  Resources/Textures/Tiles/dark_pavement_vertical.png
  Resources/Textures/Tiles/dark_plastic.png
  Resources/Textures/Tiles/hydro.png
  Resources/Textures/Tiles/hydrofloor.png
  Resources/Textures/Tiles/kitchen.png
  Resources/Textures/Tiles/laundry.png
  Resources/Textures/Tiles/mime.png
  Resources/Textures/Tiles/mono.png
  Resources/Textures/Tiles/monofloor.png
  Resources/Textures/Tiles/plastic.png
  Resources/Textures/Tiles/shuttleblack.png
  Resources/Textures/Tiles/shuttleblue.png
  Resources/Textures/Tiles/shuttlegrey.png
  Resources/Textures/Tiles/shuttleorange.png
  Resources/Textures/Tiles/shuttlepurple.png
  Resources/Textures/Tiles/shuttlered.png
  Resources/Textures/Tiles/shuttlewhite.png
  Resources/Textures/Tiles/steel.png
  Resources/Textures/Tiles/steel_diagonal.png
  Resources/Textures/Tiles/steel_diagonal_mini.png
  Resources/Textures/Tiles/steel_dirty.png
  Resources/Textures/Tiles/steel_herringbone.png
  Resources/Textures/Tiles/steel_maint.png
  Resources/Textures/Tiles/steel_mini.png
  Resources/Textures/Tiles/steel_mono.png
  Resources/Textures/Tiles/steel_offset.png
  Resources/Textures/Tiles/steel_pavement.png
  Resources/Textures/Tiles/steel_pavement_vertical.png
  Resources/Textures/Tiles/super_reinforced.png
  Resources/Textures/Tiles/white.png
  Resources/Textures/Tiles/white_diagonal.png
  Resources/Textures/Tiles/white_diagonal_mini.png
  Resources/Textures/Tiles/white_herringbone.png
  Resources/Textures/Tiles/white_mini.png
  Resources/Textures/Tiles/white_mono.png
  Resources/Textures/Tiles/white_offset.png
  Resources/Textures/Tiles/white_pavement.png
  Resources/Textures/Tiles/white_pavement_vertical.png
  Resources/Textures/Tiles/white_plastic.png
Labels: No C#

#408 remap
  Resources/Maps/SpaceCats/AspidSC.yml
  Resources/Maps/SpaceCats/BoxSC.yml
  Resources/Maps/SpaceCats/ClusterSC.yml
  Resources/Maps/SpaceCats/PackedSC.yml
Labels: No C#, Changes: Map

#411 add code radio color
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/Access/Systems/PresetIdCardSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/Locale/ru-RU/_Cats/headset/headset-component.ftl
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/blueshield.yml
Labels: Changes: Localization

#414 Usptream
  Content.Server/Backmen/Blob/BlobCarrierSystem.cs
  Content.Server/Backmen/Blob/BlobCoreSystem.cs
  Content.Shared/Backmen/Blob/Components/BlobCoreComponent.cs
  Resources/Locale/ru-RU/backmen/game-ticking/game-presets/preset-mix.ftl
  Resources/Prototypes/_Backmen/GameRules/events.yml
  Resources/Prototypes/_Backmen/GameRules/meteorswarms.yml
  Resources/Prototypes/_Backmen/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: Localization

#417 fix borgs
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
Labels: No C#

#418 rev
  Resources/Locale/ru-RU/backmen/game-ticking/game-presets/preset-mix.ftl
  Resources/Prototypes/_Backmen/GameRules/events.yml
  Resources/Prototypes/_Backmen/GameRules/meteorswarms.yml
  Resources/Prototypes/_Backmen/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: Localization, No C#

#422 НенавижуGitHub
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Misc/entities_lodauts.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Misc/entities_lodauts.yml
Labels: No C#

#423 Usptream
  Content.Client/Backmen/Standing/LayingDownSystem.cs
  Content.Client/_White/UI/Buttons/WhiteLobbyTextButton.cs
  Content.Server/Backmen/Psionics/NPC/GlimmerWisp/GlimmerWispSystem.cs
  Content.Server/Backmen/Standing/LayingDownSystem.cs
  Content.Server/Backmen/Supermatter/SupermatterSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Content.Shared/Backmen/OfferItem/SharedOfferItemSystem.cs
  Content.Shared/Backmen/Standing/LayingDownComponent.cs
  Content.Shared/Backmen/Standing/SharedLayingDownSystem.cs
  Content.Shared/Backmen/Supermatter/Components/BkmSupermatterComponent.announcements.cs
  Content.Shared/Backmen/Supermatter/Components/BkmSupermatterComponent.cs
  Content.Shared/Backmen/Supermatter/Components/BkmSupermatterComponent.delamm.cs
  Content.Shared/Backmen/Supermatter/Components/BkmSupermatterComponent.sound.cs
  Content.Shared/Backmen/Supermatter/Components/BkmSupermatterComponent.threshold.cs
  Content.Shared/Backmen/Supermatter/Components/BkmSupermatterComponent.timer.cs
  Content.Shared/Backmen/Supermatter/DelamType.cs
  Content.Shared/Backmen/Supermatter/SharedSupermatterSystem.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Resources/ConfigPresets/Backmen/main.toml
  Resources/Fonts/Bedstead/Bedstead.otf
  Resources/Fonts/ComicSans/ComicSansMS-Bold.ttf
  Resources/Fonts/ComicSans/ComicSansMS-BoldItalic.ttf
  Resources/Fonts/ComicSans/ComicSansMS-Italic.ttf
  Resources/Fonts/ComicSans/ComicSansMS.ttf
  Resources/Fonts/Fifaks/Fifaks.ttf
  Resources/Fonts/IBMPlexMono/IBMPlexMono-Bold.ttf
  Resources/Fonts/IBMPlexMono/IBMPlexMono-BoldItalic.ttf
  Resources/Fonts/IBMPlexMono/IBMPlexMono-Italic.ttf
  Resources/Fonts/IBMPlexMono/IBMPlexMono-Regular.ttf
  Resources/Fonts/IBMPlexMono/LICENSE_OFL.txt
  Resources/Fonts/IBMPlexSans/IBMPlexSans-Bold.ttf
  Resources/Fonts/IBMPlexSans/IBMPlexSans-BoldItalic.ttf
  Resources/Fonts/IBMPlexSans/IBMPlexSans-ExtraLight.ttf
  Resources/Fonts/IBMPlexSans/IBMPlexSans-ExtraLightItalic.ttf
  Resources/Fonts/IBMPlexSans/IBMPlexSans-Italic.ttf
  Resources/Fonts/IBMPlexSans/IBMPlexSans-Light.ttf
  Resources/Fonts/IBMPlexSans/IBMPlexSans-LightItalic.ttf
  Resources/Fonts/IBMPlexSans/IBMPlexSans-Medium.ttf
  Resources/Fonts/IBMPlexSans/IBMPlexSans-MediumItalic.ttf
  Resources/Fonts/IBMPlexSans/IBMPlexSans-Regular.ttf
  Resources/Fonts/IBMPlexSans/IBMPlexSans-SemiBold.ttf
  Resources/Fonts/IBMPlexSans/IBMPlexSans-SemiBoldItalic.ttf
  Resources/Fonts/IBMPlexSans/IBMPlexSans-Thin.ttf
  Resources/Fonts/IBMPlexSans/IBMPlexSans-ThinItalic.ttf
  Resources/Fonts/IBMPlexSans/OFL.txt
  Resources/Fonts/NeuePixelSans/NeuePixelSans.ttf
  Resources/Fonts/NotoSans/NotoSans-Regular.ttf
  Resources/Fonts/NotoSans/NotoSansSymbols2-Regular.ttf
  Resources/Locale/ru-RU/backmen/supermatter/supermatter.ftl
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/mutants.yml
  Resources/Prototypes/_Backmen/Entities/Supermatter/supermatter.yml
Labels: Changes: Localization

#426 mech
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: No C#

#431 Противогазы СБ
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
Labels: No C#

#432 Медики
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
Labels: No C#

#429 Rebalance mob synth
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/_SpaceCats/Rase/IPC/Synth_Body.yml
  Resources/Prototypes/_SpaceCats/Rase/IPC/Synth_Damage.yml
  Resources/Prototypes/_SpaceCats/Rase/IPC/Synth_Mobs.yml
Labels: No C#
