Repository fospas/Space-Cats-14, pull requests merged in 2024-11, with the labels that each got.

#554 SantaMarina's Pull Request
  Resources/Prototypes/_SpaceCats/Misc/plushies.yml
  Resources/Textures/_SpaceCats/Misc/silver.rsi/meta.json
  Resources/Textures/_SpaceCats/Misc/silver.rsi/plushie_silver.png
Labels: No C#, Changes: Sprites

#561 add PlushieSilver
  Resources/Prototypes/_SpaceCats/Catalog/VendingMachines/plushies_catalog.yml
Labels: No C#

#563 Upstreams
  Content.Server/Backmen/Administration/Commands/Toolshed/ChangeAccessCommand.cs
  Content.Server/Backmen/Administration/Commands/Toolshed/ChangeAccessReaderCommand.cs
  Content.Server/Backmen/Administration/Commands/Toolshed/ChangeFactionCommand.cs
  Content.Server/Backmen/Blob/BlobMobSystem.cs
  Content.Server/Backmen/Vampiric/BkmVampireLevelingSystem.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/Access/Systems/SharedAccessSystem.cs
  Resources/Changelog/ChangelogBkm.yml
  Resources/Locale/en-US/backmen/toolshed.ftl
  Resources/Locale/ru-RU/backmen/toolshed.ftl
  Tools/backmen/maprender/package-lock.json
Labels: Changes: Localization

#566 new kosmoport
  Content.Shared/CCVar/CCVars.cs
  Resources/Maps/Misc/kosmoportnew.yml
  Resources/Maps/SpaceCats/CentralCommand.yml
Labels: Changes: Map

#567 Upstreams
  Content.Client/Backmen/Body/BodySystem.cs
  Content.Client/Backmen/Surgery/SurgeryBui.cs
  Content.Client/Backmen/Surgery/SurgerySystem.cs
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Server/Backmen/Surgery/SurgerySystem.cs
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Destructible/Thresholds/Behaviors/GibBehavior.cs
  Content.Shared/Backmen/Surgery/Body/BodyPartAppearanceComponent.cs
  Content.Shared/Backmen/Surgery/Body/SharedBodySystem.PartAppearance.cs
  Content.Shared/Backmen/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/Backmen/Surgery/SurgeryUI.cs
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Body/Part/BodyPartEvents.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Body/Systems/SharedBodySystem.cs
  Content.Shared/Humanoid/Events/ProfileLoadFinishedEvent.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Changelog/ChangelogBkm.yml
  Resources/Locale/en-US/surgery/surgery-ui.ftl
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/_Backmen/Body/Parts/shadowkin.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/_Backmen/Entities/Surgery/surgeries.yml
Labels: Changes: Localization

#570 Revert "Upstreams"
  Content.Client/Backmen/Body/BodySystem.cs
  Content.Client/Backmen/Surgery/SurgeryBui.cs
  Content.Client/Backmen/Surgery/SurgerySystem.cs
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Server/Backmen/Surgery/SurgerySystem.cs
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Destructible/Thresholds/Behaviors/GibBehavior.cs
  Content.Shared/Backmen/Surgery/Body/BodyPartAppearanceComponent.cs
  Content.Shared/Backmen/Surgery/Body/SharedBodySystem.PartAppearance.cs
  Content.Shared/Backmen/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/Backmen/Surgery/SurgeryUI.cs
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Body/Part/BodyPartEvents.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Body/Systems/SharedBodySystem.cs
  Content.Shared/Humanoid/Events/ProfileLoadFinishedEvent.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Changelog/ChangelogBkm.yml
  Resources/Locale/en-US/surgery/surgery-ui.ftl
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/_Backmen/Body/Parts/shadowkin.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/_Backmen/Entities/Surgery/surgeries.yml
Labels: Changes: Localization

#571 upd maps
  Resources/Maps/SpaceCats/AspidSC.yml
  Resources/Maps/SpaceCats/BagelSC.yml
  Resources/Maps/SpaceCats/BoxSC.yml
  Resources/Maps/SpaceCats/ClusterSC.yml
  Resources/Maps/SpaceCats/CogSC.yml
  Resources/Maps/SpaceCats/OmegaSC.yml
  Resources/Maps/SpaceCats/PackedSC.yml
  Resources/Maps/SpaceCats/PearlSC.yml
  Resources/Maps/SpaceCats/ReachSC.yml
  Resources/Prototypes/Maps/centcomm.yml
Labels: No C#, Changes: Map

#576 revert light
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
Labels: No C#

#575 Revert "add resprite jobs icon centcom"
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/cargotech.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/centcom_admiral.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/centcom_official.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/head_of_security.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/intern.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/operator.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/private_officer.yml
  Resources/Prototypes/_Backmen/Statusicon/jobs.yml
  Resources/Textures/_SpaceCats/Interface/Misc/centcom_icons.rsi/admiral.png
  Resources/Textures/_SpaceCats/Interface/Misc/centcom_icons.rsi/assistant.png
  Resources/Textures/_SpaceCats/Interface/Misc/centcom_icons.rsi/gryzan.png
  Resources/Textures/_SpaceCats/Interface/Misc/centcom_icons.rsi/head_securety.png
  Resources/Textures/_SpaceCats/Interface/Misc/centcom_icons.rsi/meta.json
  Resources/Textures/_SpaceCats/Interface/Misc/centcom_icons.rsi/operator.png
  Resources/Textures/_SpaceCats/Interface/Misc/centcom_icons.rsi/privat_officer.png
  Resources/Textures/_SpaceCats/Interface/Misc/centcom_icons.rsi/revvizor.png
Labels: No C#, Changes: Sprites

#577 Revert "Revert "Upstreams""
  Content.Client/Backmen/Body/BodySystem.cs
  Content.Client/Backmen/Surgery/SurgeryBui.cs
  Content.Client/Backmen/Surgery/SurgerySystem.cs
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Server/Backmen/Surgery/SurgerySystem.cs
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Destructible/Thresholds/Behaviors/GibBehavior.cs
  Content.Shared/Backmen/Surgery/Body/BodyPartAppearanceComponent.cs
  Content.Shared/Backmen/Surgery/Body/SharedBodySystem.PartAppearance.cs
  Content.Shared/Backmen/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/Backmen/Surgery/SurgeryUI.cs
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Body/Part/BodyPartEvents.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Body/Systems/SharedBodySystem.cs
  Content.Shared/Humanoid/Events/ProfileLoadFinishedEvent.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Changelog/ChangelogBkm.yml
  Resources/Locale/en-US/surgery/surgery-ui.ftl
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/_Backmen/Body/Parts/shadowkin.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/_Backmen/Entities/Surgery/surgeries.yml
Labels: Changes: Localization

#580 Upstreams
  Content.Server/EntityEffects/Effects/HealthChange.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Medical/HealingSystem.cs
  Content.Shared/Backmen/Surgery/Body/SharedBodySystem.Integrity.cs
  Content.Shared/Backmen/Surgery/Body/SharedBodySystem.PartAppearance.cs
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Resources/Changelog/ChangelogBkm.yml
Labels: Changes: Localization, Changes: Sprites, Changes: Shaders

#581 Revert "port wizard Gate"
  Content.Client/GatewayStation/ClientStationGatewaySystem.cs
  Content.Client/GatewayStation/StationGatewayBoundUserInterface.cs
  Content.Client/GatewayStation/StationGatewayNavMapControl.cs
  Content.Client/GatewayStation/StationGatewayWindow.xaml
  Content.Client/GatewayStation/StationGatewayWindow.xaml.cs
  Content.Client/Pinpointer/UI/NavMapControl.cs
  Content.Server/GatewayStation/Components/GatewayChipComponent.cs
  Content.Server/GatewayStation/Systems/StationGatewaySystem.cs
  Content.Shared/GatewayStation/SharedStationGatewaySystem.cs
  Content.Shared/GatewayStation/StationGatewayComponent.cs
  Content.Shared/GatewayStation/StationGatewayConsoleComponent.cs
  Content.Shared/GatewayStation/StationGatewayState.cs
  Content.Shared/Teleportation/Systems/LinkedEntitySystem.cs
  Resources/Audio/Ambience/ambi_gateway.ogg
  Resources/Audio/Ambience/attributions.yml
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/gateway_off.ogg
  Resources/Locale/en-US/gateway/station-gateway.ftl
  Resources/Locale/ru-RU/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/gateway/station-gateway.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Devices/hand_teleporter.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/gateway_chips.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/gateway.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Interface/NavMap/ring.png
  Resources/Textures/Interface/NavMap/ring.yml
  Resources/Textures/Interface/NavMap/ring_filled.png
  Resources/Textures/Interface/NavMap/ring_filled.yml
  Resources/Textures/Objects/Misc/gate_chip.rsi/base.png
  Resources/Textures/Objects/Misc/gate_chip.rsi/mark1.png
  Resources/Textures/Objects/Misc/gate_chip.rsi/meta.json
  Resources/Textures/Structures/Machines/computers.rsi/gateway_station.png
  Resources/Textures/Structures/Machines/computers.rsi/gateway_syndicate.png
  Resources/Textures/Structures/Machines/computers.rsi/meta.json
Labels: Changes: Localization, Changes: UI, Changes: Sprites
