Repository fospas/Space-Cats-14, pull requests merged in 2024-10, with the labels that each got.

#433 Usptream
  Resources/Locale/ru-RU/tips.ftl
  Resources/Prototypes/Datasets/tips.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Player/humanoids.yml
Labels: Changes: Localization, No C#

#437 Upstream
  Content.Server/Backmen/Language/Commands/AdminLanguageCommand.cs
  Content.Server/Backmen/Language/Commands/AdminTranslatorCommand.cs
  Resources/Fonts/Ebbe.ttf
  Resources/Fonts/Noganas.ttf
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Prototypes/Corvax/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/foxes.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/oni.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/diona.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/nekomimetic.yml
  Resources/Prototypes/_Backmen/fonts.yml
Labels: Changes: Localization

#438 Upstream
  Content.Server/Backmen/Blob/BlobCarrierSystem.cs
  Content.Server/Backmen/Blob/BlobCoreSystem.cs
  Content.Server/Backmen/Blob/BlobMobSystem.cs
  Content.Server/Backmen/Flesh/FleshCultistSystem.cs
  Content.Server/Backmen/GameTicking/Rules/BlobRuleSystem.cs
  Content.Server/Backmen/GameTicking/Rules/Components/BlobRuleComponent.cs
  Content.Server/Backmen/Language/LanguageSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Corvax/TTS/TTSManager.cs
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/Radio/RadioEvent.cs
  Content.Server/Speech/EntitySystems/ListeningSystem.cs
  Content.Server/Speech/ListenEvent.cs
  Content.Shared/Backmen/Blob/Components/BlobCoreComponent.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/backmen/language/commands.ftl
  Resources/Locale/ru-RU/backmen/language/language-menu.ftl
  Resources/Locale/ru-RU/backmen/language/languages.ftl
  Resources/Locale/ru-RU/backmen/language/technologies.ftl
  Resources/Locale/ru-RU/backmen/language/translator.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Prototypes/Backmen/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/flesh_cult.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/NPCs/mutants.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/foxes.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Devices/translator_implants.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Misc/translator_implanters.yml
  Resources/Prototypes/_Backmen/Language/Fraction-specific/flesh.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/Dwarf.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/Elf.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/shadownkin.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/vulpkanin.yml
  Resources/Prototypes/_Backmen/Recipes/Lathes/language.yml
  Resources/Prototypes/_Backmen/Research/civilianservices.yml
Labels: Changes: Localization

#440 remap
  Resources/Maps/SpaceCats/ClusterSC.yml
  Resources/Maps/SpaceCats/PackedSC.yml
Labels: No C#, Changes: Map

#441 remap
  Resources/Maps/SpaceCats/AspidSC.yml
Labels: No C#, Changes: Map

#443 add speaker AI and Borgs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: No C#

#444 Upstream
  Content.Client/Backmen/Standing/LayingDownSystem.cs
  Content.Server/Backmen/Blob/BlobCoreSystem.cs
  Content.Server/Backmen/GameTicking/Rules/BlobRuleSystem.cs
  Content.Server/Backmen/GameTicking/Rules/Components/BlobRuleComponent.cs
  Content.Server/Backmen/Standing/LayingDownSystem.cs
  Content.Shared/Backmen/Standing/SharedLayingDownSystem.cs
  Resources/Fonts/Blackcraft.ttf
  Resources/Fonts/BryndanWriteBook.ttf
  Resources/Fonts/JollyLodgerCyrillic.otf
  Resources/Fonts/Mangat.ttf
  Resources/Fonts/NeverSmile.otf
  Resources/Fonts/SliftedDisplay.otf
  Resources/Fonts/UnderdogRegular.ttf
  Resources/Prototypes/Maps/debug.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/Dwarf.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/nekomimetic.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/shadownkin.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/vulpkanin.yml
  Resources/Prototypes/_Backmen/Language/Standard/freespeak.yml
  Resources/Prototypes/_Backmen/Language/Standard/solcommon.yml
  Resources/Prototypes/_Backmen/fonts.yml
Labels: Changes: Map

#448 remap
  Resources/Maps/SpaceCats/BagelSC.yml
  Resources/Maps/SpaceCats/ClusterSC.yml
Labels: No C#, Changes: Map

#447 babelTower (#819)
  Content.Server/Backmen/GameTicking/Rules/BabelTowerRuleSystem.cs
  Content.Server/Backmen/GameTicking/Rules/Components/BabelTowerRuleComponent.cs
  Content.Server/Backmen/Language/LanguageSystem.cs
  Resources/Locale/ru-RU/backmen/game-ticking/game-presets/babelTower.ftl
  Resources/Prototypes/_Backmen/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/_Backmen/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/game_presets.yml
Labels: Changes: Localization

#450 belt storage and resprite webbing
  Resources/Locale/ru-RU/_Cats/clothing/belts.ftl
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_Backmen/Loadouts/Jobs/Security/Brigmedic.yml
  Resources/Prototypes/_SpaceCats/Entities/Clothing/Belt/belts.yml
  Resources/Textures/_SpaceCats/Clothing/Belt/belt_overlay.rsi/gasgrenade.png
  Resources/Textures/_SpaceCats/Clothing/Belt/belt_overlay.rsi/meta.json
  Resources/Textures/_SpaceCats/Clothing/Belt/belt_overlay.rsi/slp.png
  Resources/Textures/_SpaceCats/Clothing/Belt/cmowebbing.rsi/equipped-BELT.png
  Resources/Textures/_SpaceCats/Clothing/Belt/cmowebbing.rsi/icon.png
  Resources/Textures/_SpaceCats/Clothing/Belt/cmowebbing.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Clothing/Belt/cmowebbing.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Clothing/Belt/cmowebbing.rsi/meta.json
  Resources/Textures/_SpaceCats/Clothing/Belt/corpsman.rsi/equipped-BELT.png
  Resources/Textures/_SpaceCats/Clothing/Belt/corpsman.rsi/icon.png
  Resources/Textures/_SpaceCats/Clothing/Belt/corpsman.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Clothing/Belt/corpsman.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Clothing/Belt/corpsman.rsi/meta.json
  Resources/Textures/_SpaceCats/Clothing/Belt/security.rsi/equipped-BELT.png
  Resources/Textures/_SpaceCats/Clothing/Belt/security.rsi/icon.png
  Resources/Textures/_SpaceCats/Clothing/Belt/security.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Clothing/Belt/security.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Clothing/Belt/security.rsi/meta.json
  Resources/Textures/_SpaceCats/Clothing/Belt/securitywebbing.rsi/equipped-BELT.png
  Resources/Textures/_SpaceCats/Clothing/Belt/securitywebbing.rsi/icon.png
  Resources/Textures/_SpaceCats/Clothing/Belt/securitywebbing.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Clothing/Belt/securitywebbing.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Clothing/Belt/securitywebbing.rsi/meta.json
  Resources/Textures/_SpaceCats/Clothing/Belt/suspendersblack.rsi/equipped-BELT.png
  Resources/Textures/_SpaceCats/Clothing/Belt/suspendersblack.rsi/icon.png
  Resources/Textures/_SpaceCats/Clothing/Belt/suspendersblack.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Clothing/Belt/suspendersblack.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Clothing/Belt/suspendersblack.rsi/meta.json
Labels: Changes: Localization, No C#, Changes: Sprites

#454 Карман для накидки охотника на ведьм
  Resources/Prototypes/_Backmen/Entities/Clothing/OuterClothing/misc.yml
Labels: No C#

#456 add energy barrier
  Content.Server/EnergyDome/EnergyDomeComponent.cs
  Content.Server/EnergyDome/EnergyDomeGeneratorComponent.cs
  Content.Server/EnergyDome/EnergyDomeSystem.cs
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/energyshield_ambient.ogg
  Resources/Audio/Machines/energyshield_down.ogg
  Resources/Audio/Machines/energyshield_parry.ogg
  Resources/Audio/Machines/energyshield_up.ogg
  Resources/Locale/en-US/_Cats/energydome/energydome.ftl
  Resources/Locale/en-US/_Cats/research/technologies.ftl
  Resources/Locale/en-US/_Cats/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_Cats/energydome/energydome.ftl
  Resources/Locale/ru-RU/_Cats/entities/objects/tools/energydome.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_SpaceCats/Actions/types.yml
  Resources/Prototypes/_SpaceCats/Catalog/uplink_catalog.yml
  Resources/Prototypes/_SpaceCats/Damage/modifier_sets.yml
  Resources/Prototypes/_SpaceCats/Entities/Effects/dome.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Tools/energydome.yml
  Resources/Prototypes/_SpaceCats/Recipes/Lathes/security.yml
  Resources/Prototypes/_SpaceCats/Research/arsenal.yml
  Resources/Textures/Effects/EnergyDome/energydome_big.rsi/big.png
  Resources/Textures/Effects/EnergyDome/energydome_big.rsi/meta.json
  Resources/Textures/Effects/EnergyDome/energydome_directed.rsi/meta.json
  Resources/Textures/Effects/EnergyDome/energydome_directed.rsi/small.png
  Resources/Textures/Effects/EnergyDome/energydome_medium.rsi/medium.png
  Resources/Textures/Effects/EnergyDome/energydome_medium.rsi/meta.json
  Resources/Textures/Effects/EnergyDome/energydome_slowdown_big.rsi/big.png
  Resources/Textures/Effects/EnergyDome/energydome_slowdown_big.rsi/meta.json
  Resources/Textures/Effects/EnergyDome/energydome_small.rsi/meta.json
  Resources/Textures/Effects/EnergyDome/energydome_small.rsi/small.png
  Resources/Textures/Objects/Tools/EnergyDome/reinhardt.rsi/icon.png
  Resources/Textures/Objects/Tools/EnergyDome/reinhardt.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/EnergyDome/reinhardt.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/EnergyDome/reinhardt.rsi/meta.json
  Resources/Textures/Objects/Tools/EnergyDome/syndie.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tools/EnergyDome/syndie.rsi/icon.png
  Resources/Textures/Objects/Tools/EnergyDome/syndie.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/EnergyDome/syndie.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/EnergyDome/syndie.rsi/meta.json
Labels: Changes: Localization, Changes: Sprites

#461 Upd upstream
  Content.Client/Backmen/Abilities/MindSwapPowerSystem.cs
  Content.Client/Backmen/Abilities/Psionics/DispelPowerSystem.cs
  Content.Client/Backmen/Abilities/Psionics/NoosphericZapPowerSystem.cs
  Content.Client/Backmen/Abilities/Psionics/PsychokinesisPowerSystem.cs
  Content.Client/Backmen/Abilities/Psionics/PyrokinesisPowerSystem.cs
  Content.Client/Backmen/Psionics/PsionicAbilitiesSystem.cs
  Content.Client/Chat/TypingIndicator/TypingIndicatorVisualizerSystem.cs
  Content.Server/Backmen/Abilities/Psionics/Abilities/DispelPowerSystem.cs
  Content.Server/Backmen/Abilities/Psionics/Abilities/MetapsionicPowerSystem.cs
  Content.Server/Backmen/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
  Content.Server/Backmen/Abilities/Psionics/Abilities/NoosphericZapPowerSystem.cs
  Content.Server/Backmen/Abilities/Psionics/Abilities/PsionicInvisibilityPowerSystem.cs
  Content.Server/Backmen/Abilities/Psionics/Abilities/PsionicRegenerationPowerSystem.cs
  Content.Server/Backmen/Abilities/Psionics/Abilities/PsychokinesisPowerSystem.cs
  Content.Server/Backmen/Abilities/Psionics/Abilities/PyrokinesisPowerSystem.cs
  Content.Server/Backmen/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Content.Server/Backmen/Species/Shadowkin/Systems/ShadowkinPowerSystem.Teleport.cs
  Content.Server/Backmen/Species/Shadowkin/Systems/ShadowkinSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Backmen/Abilities/Psionics/Abilities/Pyrokinesis/PyrokinesisPowerComponent.cs
  Content.Shared/Backmen/Abilities/Psionics/PsiActionComponent.cs
  Content.Shared/Backmen/Abilities/Psionics/PsionicInsulationComponent.cs
  Content.Shared/Backmen/Abilities/Psionics/SharedDispelPowerSystem.cs
  Content.Shared/Backmen/Abilities/Psionics/SharedMindSwapPowerSystem.cs
  Content.Shared/Backmen/Abilities/Psionics/SharedNoosphericZapPowerSystem.cs
  Content.Shared/Backmen/Abilities/Psionics/SharedPsionicAbilitiesSystem.cs
  Content.Shared/Backmen/Abilities/Psionics/SharedPsychokinesisPowerSystem.cs
  Content.Shared/Backmen/Abilities/Psionics/SharedPyrokinesisPowerSystem.cs
  Content.Shared/Backmen/Standing/LayingDownComponent.cs
  Content.Shared/Backmen/Standing/SharedLayingDownSystem.cs
  Content.Shared/Chat/TypingIndicator/SharedTypingIndicatorSystem.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorComponent.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Locale/ru-RU/backmen/abilities/psionic.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_Backmen/Actions/types.yml
  Resources/Prototypes/_Backmen/Entities/Mobs/Player/humanoids.yml
  Resources/Prototypes/_Backmen/Language/Fraction-specific/Simple/Spider.yml
  Resources/Prototypes/_Backmen/Language/Fraction-specific/silicon.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/Dwarf.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/diona.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/harpy.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/moth.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/nekomimetic.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/shadownkin.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/slimeperson.yml
  Resources/Prototypes/_Backmen/Language/Species-Specific/vulpkanin.yml
  Resources/Prototypes/_Backmen/Language/Standard/freespeak.yml
  Resources/Prototypes/_Backmen/Language/Standard/solcommon.yml
  Resources/Prototypes/_Backmen/Language/Standard/tradeband.yml
Labels: Changes: Localization

#462 upd console translait
  Content.Client/CriminalRecords/CriminalRecordsConsoleBoundUserInterface.cs
  Content.Client/CriminalRecords/CriminalRecordsConsoleWindow.xaml
  Content.Client/CriminalRecords/CriminalRecordsConsoleWindow.xaml.cs
  Content.Server/Communications/CommunicationsConsoleComponent.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/CriminalRecords/Systems/CriminalRecordsConsoleSystem.cs
  Content.Server/GameTicking/Rules/ThiefRuleSystem.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Shared/CriminalRecords/Components/CriminalRecordsConsoleComponent.cs
  Content.Shared/CriminalRecords/CriminalRecordsUi.cs
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/Locale/en-US/criminal-records/criminal-records.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/objectives/objective-summary.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/criminal-records/criminal-records.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/objectives/objective-summary.ftl
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: Localization, Changes: UI

#463 repsrite door
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/welded.png
  Resources/migration.yml
Labels: No C#, Changes: Sprites

#457 Фикс химии(должно работать)
  Resources/Locale/ru-RU/_Cats/alchemic.ftl
  Resources/Prototypes/_SpaceCats/alchemic.yml
Labels: Changes: Localization, No C#

#467 events + fix dungeons (#828)
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/GameRules/events.yml
  Resources/Prototypes/_Backmen/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/Procedural/Shipwreck/dungeon_configs.yml
  Resources/Prototypes/_Backmen/Procedural/dungeon_presets.yml
Labels: No C#

#472 remove mecha
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Mech/Equipment/EntitySystems/MechGunSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/ru-RU/_Cats/entities/misc/mecha.ftl
  Resources/Prototypes/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/mech.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mech_construction.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mecha_equipment.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mecha_weaponry.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Construction/Graphs/mechs/durand_construction.yml
  Resources/Prototypes/Recipes/Construction/Graphs/mechs/gygax_construction.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Recipes/Lathes/mech_parts.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/tags.yml
Labels: Changes: Localization

#475 Upd upstream
  Content.Client/Backmen/DiscordAuth/DiscordAuthGui.xaml
  Content.Client/Backmen/DiscordAuth/DiscordAuthGui.xaml.cs
  Content.Client/Backmen/DiscordAuth/DiscordAuthManager.cs
  Content.Client/Backmen/Standing/LayingDownSystem.cs
  Content.Client/Corvax/IClientDiscordAuthManager.cs
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.Server/Backmen/DiscordAuth/DiscordAuthManager.cs
  Content.Server/Backmen/Immersive/ImmersiveComponent.cs
  Content.Server/Backmen/Immersive/Systems/ImmersiveSystem.cs
  Content.Server/Backmen/Standing/LayingDownSystem.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Content.Shared/Backmen/DiscordAuth/MsgDiscordAuthByPass.cs
  Content.Shared/Backmen/Standing/SharedLayingDownSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Traits/Assorted/LegsParalyzedSystem.cs
  Resources/ConfigPresets/Backmen/main.toml
  Resources/Locale/ru-RU/backmen/discord-auth/discord-auth-state.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: Localization, Changes: UI

#477 repsrite vent
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_off.png
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_on.png
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_purge.png
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_welded.png
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_wide.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_in.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_lockout.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_off.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_out.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_passive.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_welded.png
Labels: No C#, Changes: Sprites

#478 add map Pearl
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/SpaceCats/PearlSC.yml
  Resources/Prototypes/_SpaceCats/Maps/Pool/spacecatsnstandart.yml
  Resources/Prototypes/_SpaceCats/Maps/aspid.yml
  Resources/Prototypes/_SpaceCats/Maps/bagel.yml
  Resources/Prototypes/_SpaceCats/Maps/box.yml
  Resources/Prototypes/_SpaceCats/Maps/cluster.yml
  Resources/Prototypes/_SpaceCats/Maps/cog.yml
  Resources/Prototypes/_SpaceCats/Maps/omega.yml
  Resources/Prototypes/_SpaceCats/Maps/packed.yml
  Resources/Prototypes/_SpaceCats/Maps/pearl.yml
Labels: Changes: Map

#474 Chem2
  Resources/Locale/ru-RU/_Cats/alchemic.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_SpaceCats/alchemic.yml
  Resources/Prototypes/_SpaceCats/silicon-laws.yml
Labels: Changes: Localization, No C#

#479 ClothingHeadCageSec
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Head/hats.yml
Labels: No C#

#482 resprite
  Resources/Textures/Structures/Storage/orebox.rsi/meta.json
  Resources/Textures/Structures/Storage/orebox.rsi/orebox-top.png
  Resources/Textures/Structures/Storage/orebox.rsi/orebox.png
Labels: No C#, Changes: Sprites

#480 наборы в карго+дополнил РПС
  Resources/Prototypes/_SpaceCats/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/_SpaceCats/Catalog/Fills/Items/medkits.yml
  Resources/Prototypes/_SpaceCats/Catalog/cargo.yml
  Resources/Prototypes/_SpaceCats/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_SpaceCats/alchemic.yml
Labels: No C#

#483 Плюшка Firefly
  Resources/Prototypes/_SpaceCats/Misc/plushies.yml
  Resources/Textures/_SpaceCats/Misc/Firefly.rsi/firefly_toy.png
  Resources/Textures/_SpaceCats/Misc/Firefly.rsi/meta.json
Labels: No C#, Changes: Sprites

#489 AntagUpdate (#831)
  Content.Client/Backmen/DiscordAuth/DiscordAuthGui.xaml.cs
  Content.Client/Backmen/DiscordAuth/DiscordAuthManager.cs
  Content.Client/Backmen/Explosion/RMCExplosionShockWaveOverlay.cs
  Content.Client/Backmen/Lobby/HumanoidProfileEditor.cs
  Content.Client/Corvax/IClientDiscordAuthManager.cs
  Content.Client/Corvax/TTS/HumanoidProfileEditor.TTS.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Server/Administration/Managers/IBanManager.cs
  Content.Server/Backmen/Administration/Commands/AntagRoleBanCommand.cs
  Content.Server/Backmen/Administration/Managers/BanManager.cs
  Content.Server/Backmen/Antag/SuperPsi/AutoPsiSystem.cs
  Content.Server/Backmen/DiscordAuth/DiscordAuthManager.cs
  Content.Server/Backmen/Players/DiscordJobWhitelist.cs
  Content.Server/Corvax/IServerDiscordAuthManager.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Shared/Backmen/CCVar/CCVars.cs
  Content.Shared/CombatMode/CombatModeComponent.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
  Content.Shared/Corvax/ISharedDiscordAuthManager.cs
  Content.Shared/Roles/AntagPrototype.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/ConfigPresets/Backmen/main.toml
  Resources/Locale/ru-RU/backmen/discord-auth/discord-auth-state.ftl
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/Roles/Antags/thief.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Antags/zombie.yml
  Resources/Prototypes/_Backmen/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/Roles/Antags/blob.yml
  Resources/Prototypes/_Backmen/Roles/Antags/changeling.yml
  Resources/Prototypes/_Backmen/Roles/Antags/fleshcultist.yml
  Resources/Prototypes/_Backmen/Roles/Antags/vampire.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: Localization, Changes: UI

#492 hotfix nukeops vote
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/game_presets.yml
Labels: No C#

#491 stimulants
  Content.Server/_Cats/Implants/InjectImplantSystem.cs
  Content.Server/_Cats/Implants/InjectOnTriggerComponent.cs
  Resources/Locale/en-US/_Cats/research/technologies.ftl
  Resources/Locale/ru-RU/_Cats/inject-implants/implants.ftl
  Resources/Locale/ru-RU/_Cats/prototypes/catalog/fills/boxes/medical.ftl
  Resources/Locale/ru-RU/_Cats/research/technologies.ftl
  Resources/Locale/ru-RU/_Cats/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_SpaceCats/Actions/implants.yml
  Resources/Prototypes/_SpaceCats/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/_SpaceCats/Catalog/uplink_catalog.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Misc/implants.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_SpaceCats/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/_SpaceCats/Research/civilianservices.yml
Labels: Changes: Localization

#488 upd sponsor
  Resources/Locale/ru-RU/_Cats/prototypes/backmen/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/_Cats/store/category.ftl
  Resources/Locale/ru-RU/backmen/store/category.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/vending.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Machines/Spawners/SpawnerVending.yml
  Resources/Prototypes/_SpaceCats/Catalog/VendingMachines/plushies_catalog.yml
  Resources/Prototypes/_SpaceCats/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_SpaceCats/Misc/plushies.yml
  Resources/Prototypes/_SpaceCats/Store/categories.yml
  Resources/Textures/_SpaceCats/Structures/Machines/VendingMachines/sponsor.rsi/broken.png
  Resources/Textures/_SpaceCats/Structures/Machines/VendingMachines/sponsor.rsi/meta.json
  Resources/Textures/_SpaceCats/Structures/Machines/VendingMachines/sponsor.rsi/normal-unshaded.png
  Resources/Textures/_SpaceCats/Structures/Machines/VendingMachines/sponsor.rsi/off.png
  Resources/Textures/_SpaceCats/Structures/Machines/VendingMachines/sponsor.rsi/panel.png
Labels: Changes: Localization, No C#, Changes: Sprites

#493 add backpack blueshilds
  Resources/Locale/ru-RU/_Cats/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/_Cats/prototypes/Entities/Clothing/Back/backpacks.ftl
  Resources/Locale/ru-RU/_Cats/prototypes/Entities/Clothing/Back/duffels.ftl
  Resources/Locale/ru-RU/_Cats/prototypes/Entities/Clothing/Back/satchels.ftl
  Resources/Locale/ru-RU/_Cats/prototypes/Entities/Clothing/Neck/cloaks.ftl
  Resources/Prototypes/_Backmen/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Backmen/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Backmen/Loadouts/role_loadout.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/blueshield.yml
  Resources/Prototypes/_SpaceCats/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_SpaceCats/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_SpaceCats/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/_SpaceCats/Entities/Clothing/Neck/Cloaks.yml
  Resources/Prototypes/_SpaceCats/Loadouts/Jobs/CentCom/Blueshield.yml
  Resources/Textures/_SpaceCats/Clothing/Back/blueshieldbackpack.rsi/equipped-BACKPACK.png
  Resources/Textures/_SpaceCats/Clothing/Back/blueshieldbackpack.rsi/icon.png
  Resources/Textures/_SpaceCats/Clothing/Back/blueshieldbackpack.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Clothing/Back/blueshieldbackpack.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Clothing/Back/blueshieldbackpack.rsi/meta.json
  Resources/Textures/_SpaceCats/Clothing/Back/blueshieldduffel.rsi/equipped-BACKPACK.png
  Resources/Textures/_SpaceCats/Clothing/Back/blueshieldduffel.rsi/icon.png
  Resources/Textures/_SpaceCats/Clothing/Back/blueshieldduffel.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Clothing/Back/blueshieldduffel.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Clothing/Back/blueshieldduffel.rsi/meta.json
  Resources/Textures/_SpaceCats/Clothing/Back/blueshieldsatchel.rsi/equipped-BACKPACK.png
  Resources/Textures/_SpaceCats/Clothing/Back/blueshieldsatchel.rsi/icon.png
  Resources/Textures/_SpaceCats/Clothing/Back/blueshieldsatchel.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Clothing/Back/blueshieldsatchel.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Clothing/Back/blueshieldsatchel.rsi/meta.json
  Resources/Textures/_SpaceCats/Clothing/Neck/Cloaks/blueshield_neck.rsi/equipped-NECK.png
  Resources/Textures/_SpaceCats/Clothing/Neck/Cloaks/blueshield_neck.rsi/icon.png
  Resources/Textures/_SpaceCats/Clothing/Neck/Cloaks/blueshield_neck.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Clothing/Neck/Cloaks/blueshield_neck.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Clothing/Neck/Cloaks/blueshield_neck.rsi/meta.json
Labels: Changes: Localization, No C#, Changes: Sprites

#496 add resprite jobs icon centcom
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/cargotech.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/centcom_admiral.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/centcom_official.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/head_of_security.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/intern.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/operator.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/private_officer.yml
  Resources/Prototypes/_Backmen/Statusicon/jobs.yml
  Resources/Textures/_SpaceCats/Interface/Misc/centcom_icons.rsi/admiral.png
  Resources/Textures/_SpaceCats/Interface/Misc/centcom_icons.rsi/assistant.png
  Resources/Textures/_SpaceCats/Interface/Misc/centcom_icons.rsi/gryzan.png
  Resources/Textures/_SpaceCats/Interface/Misc/centcom_icons.rsi/head_securety.png
  Resources/Textures/_SpaceCats/Interface/Misc/centcom_icons.rsi/meta.json
  Resources/Textures/_SpaceCats/Interface/Misc/centcom_icons.rsi/operator.png
  Resources/Textures/_SpaceCats/Interface/Misc/centcom_icons.rsi/privat_officer.png
  Resources/Textures/_SpaceCats/Interface/Misc/centcom_icons.rsi/revvizor.png
Labels: No C#, Changes: Sprites

#498 remap Pearl
  Resources/Maps/SpaceCats/PearlSC.yml
Labels: No C#, Changes: Map

#505 remap
  Resources/Maps/SpaceCats/AspidSC.yml
  Resources/Maps/SpaceCats/BagelSC.yml
  Resources/Maps/SpaceCats/BoxSC.yml
  Resources/Maps/SpaceCats/ClusterSC.yml
  Resources/Maps/SpaceCats/PackedSC.yml
  Resources/Maps/SpaceCats/PearlSC.yml
Labels: No C#, Changes: Map

#507 New protolath
  Resources/Locale/ru-RU/_Cats/prototypes/entities/structures/machines/lathe.ftl
  Resources/Prototypes/_SpaceCats/Entities/Structures/Machines/lathe.yml
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheCargo.rsi/building.png
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheCargo.rsi/icon.png
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheCargo.rsi/inserting.png
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheCargo.rsi/meta.json
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheCargo.rsi/panel.png
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheCargo.rsi/unlit.png
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheENG.rsi/building.png
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheENG.rsi/icon.png
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheENG.rsi/inserting.png
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheENG.rsi/meta.json
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheENG.rsi/panel.png
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheENG.rsi/unlit.png
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheRnD.rsi/building.png
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheRnD.rsi/icon.png
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheRnD.rsi/inserting.png
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheRnD.rsi/meta.json
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheRnD.rsi/panel.png
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheRnD.rsi/unlit.png
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheService.rsi/building.png
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheService.rsi/icon.png
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheService.rsi/inserting.png
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheService.rsi/meta.json
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheService.rsi/panel.png
  Resources/Textures/_SpaceCats/Structures/Machines/protolatheService.rsi/unlit.png
Labels: Changes: Localization, No C#, Changes: Sprites

#506 Dev
  Resources/Locale/ru-RU/_Cats/Entities/Objects/Misc/gear_bundles.ftl
  Resources/Locale/ru-RU/_Cats/store/category.ftl
  Resources/Prototypes/_SpaceCats/Catalog/VendingMachines/accessories.yml
  Resources/Prototypes/_SpaceCats/Catalog/VendingMachines/bundles.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Misc/gear_bundles.yml
  Resources/Prototypes/_SpaceCats/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_SpaceCats/Store/categories.yml
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/base.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/bundle-hardsuit.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/bundle-hydro.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/bundle-medical.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/bundle-mercenary.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/bundle-salvage.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/bundle-tools.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/hardsuit-inhand-left.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/hardsuit-inhand-right.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/hydro-inhand-left.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/hydro-inhand-right.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/lights.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/medical-inhand-left.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/medical-inhand-right.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/mercenary-inhand-left.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/mercenary-inhand-right.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/meta.json
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/salvage-inhand-left.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/salvage-inhand-right.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/tools-inhand-left.png
  Resources/Textures/_SpaceCats/Objects/Misc/gear_bundle.rsi/tools-inhand-right.png
  Resources/Textures/_SpaceCats/Structures/Machines/VendingMachines/nabormat.rsi/broken.png
  Resources/Textures/_SpaceCats/Structures/Machines/VendingMachines/nabormat.rsi/deny-unshaded.png
  Resources/Textures/_SpaceCats/Structures/Machines/VendingMachines/nabormat.rsi/eject-unshaded.png
  Resources/Textures/_SpaceCats/Structures/Machines/VendingMachines/nabormat.rsi/meta.json
  Resources/Textures/_SpaceCats/Structures/Machines/VendingMachines/nabormat.rsi/normal-unshaded.png
  Resources/Textures/_SpaceCats/Structures/Machines/VendingMachines/nabormat.rsi/off.png
  Resources/Textures/_SpaceCats/Structures/Machines/VendingMachines/nabormat.rsi/panel.png
Labels: Changes: Localization, No C#, Changes: Sprites

#510 [Port] BackStab
  Content.Shared/_Cats/BackStab/BackStabComponent.cs
  Content.Shared/_Cats/BackStab/BackStabSystem.cs
  Resources/Locale/en-US/_Cats/backstab/backstab.ftl
  Resources/Locale/ru-RU/_Cats/backstab/backstab.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/armblade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cult.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Labels: Changes: Localization

#512 protect injector hardsuit
  Content.Server/Chemistry/EntitySystems/HypospraySystem.cs
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
  Content.Shared/_Cats/Clothing/Components/InjectableClothingComponent.cs
  Resources/Locale/ru-RU/_Cats/chemistry/components/hypospray-component.ftl
  Resources/Locale/ru-RU/_Cats/chemistry/components/injector-component.ftl
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Labels: Changes: Localization

#515 add teleporter reach
  Resources/Locale/ru-RU/_Cats/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Devices/syndicate_teleporter.yml
  Resources/Prototypes/_SpaceCats/Recipes/Lathes/devices.yml
  Resources/Prototypes/_SpaceCats/Research/experimental.yml
  Resources/Textures/_SpaceCats/Objects/Devices/experemenal_teleporter.rsi/hand_tele_recharging.png
  Resources/Textures/_SpaceCats/Objects/Devices/experemenal_teleporter.rsi/meta.json
Labels: Changes: Localization, No C#, Changes: Sprites

#520 Upstream
  Resources/Locale/ru-RU/_backmen/datasets/localizedDataset.ftl
  Resources/Maps/Backmen/backmen_shoukou.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Backpacks/backpack.yml
  Resources/Prototypes/_Backmen/Catalog/Fills/Lockers/supplypods.yml
  Resources/Prototypes/_Backmen/Catalog/uplink_nomad.yml
  Resources/Prototypes/_Backmen/Datasets/localizedDatasets.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/OuterClothing/coat.yml
  Resources/Prototypes/_Backmen/Entities/Effects/admin_triggers.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Pistols/Pistols.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Storage/Droppods/base.yml
  Resources/Prototypes/_Backmen/Maps/backmen_hive.yml
  Resources/Prototypes/_Backmen/Maps/backmen_rook.yml
  Resources/Prototypes/_Backmen/Maps/backmen_shoukou.yml
  Resources/Prototypes/_Backmen/Maps/backmen_tortuga.yml
  Resources/Prototypes/_Backmen/Roles/Fun/ERT_Alpha.yml
  Resources/Prototypes/_Backmen/Roles/Fun/SpecialForce.yml
  Resources/Prototypes/_Backmen/Roles/Fun/cburn.yml
  Resources/Textures/Backmen/Effects/droppod_falling.rsi/meta.json
  Resources/Textures/Backmen/Effects/droppod_falling.rsi/missile_falling_animation.png
  Resources/Textures/Backmen/Effects/droppod_falling.rsi/supplypod_falling_animation.png
  Resources/Textures/Backmen/Effects/droppod_falling.rsi/syndiepod_falling_animation.png
  Resources/Textures/Backmen/Objects/Misc/marker.rsi/marker.png
  Resources/Textures/Backmen/Objects/Misc/marker.rsi/meta.json
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/meta.json
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/missilepod.png
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/missilepod_door.png
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/missilepod_falling.png
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/missilepod_open.png
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/syndicate.png
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/syndiepod.png
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/syndiepod_door.png
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/syndiepod_falling.png
  Resources/Textures/Backmen/Structures/Storage/supplypod.rsi/syndiepod_open.png
Labels: Changes: Localization, No C#, Changes: Sprites, Changes: Map

#521 revert teleports
  Content.Server/_Cats/SyndicateTeleporter/Components/SyndicateTeleporterComponent.cs
  Content.Server/_Cats/SyndicateTeleporter/Systems/SyndicateTeleporterSystem.cs
  Resources/Audio/_Cats/Effects/attributions.yml
  Resources/Audio/_Cats/Effects/emergency-pager-sound.ogg
  Resources/Audio/_Cats/Effects/teleport.ogg
  Resources/Audio/_Cats/Effects/zap.ogg
  Resources/Locale/ru-RU/_Cats/research/technologies.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_SpaceCats/Entities/Effects/teleport_effect.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Devices/syndicate_teleporter.yml
  Resources/Prototypes/_SpaceCats/Recipes/Lathes/devices.yml
  Resources/Prototypes/_SpaceCats/Research/experimental.yml
  Resources/Prototypes/_SpaceCats/SoundCollections/broken_device.yml
  Resources/Textures/_SpaceCats/Effects/teleport_sparks.rsi/meta.json
  Resources/Textures/_SpaceCats/Effects/teleport_sparks.rsi/sparks.png
  Resources/Textures/_SpaceCats/Objects/Devices/experemenal_teleporter.rsi/hand_tele_recharging.png
  Resources/Textures/_SpaceCats/Objects/Devices/experemenal_teleporter.rsi/meta.json
  Resources/Textures/_SpaceCats/Objects/Devices/syndicate_teleporter.rsi/icon.png
  Resources/Textures/_SpaceCats/Objects/Devices/syndicate_teleporter.rsi/meta.json
Labels: Changes: Localization, Changes: Sprites

#522 revert shields
  Content.Server/EnergyDome/EnergyDomeGeneratorComponent.cs
  Content.Server/EnergyDome/EnergyDomeSystem.cs
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Content.Shared/EnergyDome/SharedEnergyDomeComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/energyshield_ambient.ogg
  Resources/Audio/Machines/energyshield_down.ogg
  Resources/Audio/Machines/energyshield_parry.ogg
  Resources/Audio/Machines/energyshield_up.ogg
  Resources/Locale/en-US/_Cats/energydome/energydome.ftl
  Resources/Locale/en-US/_Cats/research/technologies.ftl
  Resources/Locale/en-US/_Cats/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_Cats/energydome/energydome.ftl
  Resources/Locale/ru-RU/_Cats/entities/objects/tools/energydome.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_SpaceCats/Actions/types.yml
  Resources/Prototypes/_SpaceCats/Catalog/uplink_catalog.yml
  Resources/Prototypes/_SpaceCats/Damage/modifier_sets.yml
  Resources/Prototypes/_SpaceCats/Entities/Effects/dome.yml
  Resources/Prototypes/_SpaceCats/Entities/Objects/Tools/energydome.yml
  Resources/Prototypes/_SpaceCats/Recipes/Lathes/security.yml
  Resources/Prototypes/_SpaceCats/Research/arsenal.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Effects/EnergyDome/energydome_big.rsi/big.png
  Resources/Textures/Effects/EnergyDome/energydome_big.rsi/meta.json
  Resources/Textures/Effects/EnergyDome/energydome_directed.rsi/meta.json
  Resources/Textures/Effects/EnergyDome/energydome_directed.rsi/small.png
  Resources/Textures/Effects/EnergyDome/energydome_medium.rsi/medium.png
  Resources/Textures/Effects/EnergyDome/energydome_medium.rsi/meta.json
  Resources/Textures/Effects/EnergyDome/energydome_slowdown_big.rsi/big.png
  Resources/Textures/Effects/EnergyDome/energydome_slowdown_big.rsi/meta.json
  Resources/Textures/Effects/EnergyDome/energydome_small.rsi/meta.json
  Resources/Textures/Effects/EnergyDome/energydome_small.rsi/small.png
  Resources/Textures/Objects/Tools/EnergyDome/reinhardt.rsi/icon.png
  Resources/Textures/Objects/Tools/EnergyDome/reinhardt.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/EnergyDome/reinhardt.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/EnergyDome/reinhardt.rsi/meta.json
  Resources/Textures/Objects/Tools/EnergyDome/syndie.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tools/EnergyDome/syndie.rsi/icon.png
  Resources/Textures/Objects/Tools/EnergyDome/syndie.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/EnergyDome/syndie.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/EnergyDome/syndie.rsi/meta.json
Labels: Changes: Localization, Changes: Sprites
