Repository fospas/Space-Cats-14, pull requests merged in 2024-07, with the labels that each got.

#5 Агост может видеть должность и мш
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: No C#

#13 test
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/Administration/UI/Tabs/AdminTab/TimePanelWindow.xaml
  Content.Client/Administration/UI/Tabs/AdminTab/TimePanelWindow.xaml.cs
  Resources/Locale/en-US/administration/ui/tabs/admin-tab/player-actions-window.ftl
  Resources/Locale/en-US/administration/ui/tabs/admin-tab/time-panel-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/player-actions-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/time-panel-window.ftl
Labels: Changes: Localization, Changes: UI

#8 Отправляет принятые PR в вебхук дискорда как обновление.
  .github/workflows/pr-notify.yml
Labels: good first issue, Changes: Localization, Changes: UI, No C#

#9 Добавляет в панель админа кнопку выдачи времени.
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/Administration/UI/Tabs/AdminTab/TimePanelWindow.xaml
  Content.Client/Administration/UI/Tabs/AdminTab/TimePanelWindow.xaml.cs
  Resources/Locale/en-US/administration/ui/tabs/admin-tab/player-actions-window.ftl
  Resources/Locale/en-US/administration/ui/tabs/admin-tab/time-panel-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/player-actions-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/time-panel-window.ftl
Labels: good first issue, Changes: Localization, Changes: UI

#16 Test
  README.md
Labels: No C#

#18 test
  README.md
Labels: No C#

#21 Смена положение правил.
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
Labels: No C#

#25 sync upstream
  Resources/Prototypes/game_presets.yml
Labels: No C#

#29 add DNK lock
  Content.Server/_Cats/DNALocker/DNALockComponent.cs
  Content.Server/_Cats/DNALocker/DNALockerSystem.cs
  Resources/Audio/_Cats/dna-lock.ogg
  Resources/Locale/ru-RU/_Cats/syndicate.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: Localization

#22 Ban reason update
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Database/ServerBanDef.cs
  Resources/Locale/en-US/connection-messages.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
Labels: help wanted, good first issue, invalid, Changes: Localization

#26 Add discord button in escape menu
  Content.Client/Options/UI/EscapeMenu.xaml
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesWindow.xaml.cs
  Resources/Locale/en-US/escape-menu/ui/escape-menu.ftl
  Resources/Locale/ru-RU/backmen/playtime.ftl
  Resources/Locale/ru-RU/escape-menu/ui/escape-menu.ftl
Labels: help wanted, invalid, Changes: Localization, Changes: UI

#3 Ban webhook
  Content.Server/Discord/BanHook.cs
  Content.Shared/CCVar/CCVars.cs
Labels: help wanted, invalid

#37 детектив - добавление зарплат и стартового счета
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
Labels: No C#

#38 Удалить событие шаттлов. Понизить баллы за событие и их набор в дальнейшем.
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Shuttles/shuttle_incoming_event.yml
Labels: No C#

#40 Disable VentClog event
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#41 Мелкая локализация.
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/flesh_heart.ftl
Labels: Changes: Localization, No C#

#43 Убран из голосование режим Крушение. В голосовании добавлены: Вампиры, культ, блоб.
  Resources/Prototypes/_Backmen/game_presets.yml
Labels: No C#

#44 Открытые роли на ЦК.
  Resources/Prototypes/Maps/centcomm.yml
Labels: No C#, Changes: Map

#45 Убираем обломок который очень сильно нагружает. И не используется.
  Resources/Prototypes/Entities/Stations/base.yml
Labels: No C#

#46 ИИ теперь может видить глазами боргов.
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: No C#

#50 понижение времени для ЦК
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/cargotech.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/centcom_admiral.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/head_of_security.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/intern.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/operator.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/private_officer.yml
Labels: No C#

#52 Пониженное численость игроков для событий и режимов.
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Backmen/GameRules/roundstart.yml
Labels: No C#

#54 Убираем ограничение на кастомизацию.
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/fox_parts.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/slime_cat_parts.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/slime_fox_parts.yml
  Resources/Prototypes/Corvax/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
Labels: No C#

#55 Убираем цели на животных у вора.
  Resources/Prototypes/Objectives/thief.yml
Labels: No C#

#56 fix кошака, неправильный обозначение
  Resources/Locale/ru-RU/items/components/item-component.ftl
Labels: Changes: Localization, No C#

#58 Перевод советов и прочих мелочей.
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/tips.ftl
  Resources/Locale/ru-RU/wieldable/wieldable-component.ftl
  Resources/Prototypes/_Backmen/Entities/Clothing/Under/socks.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Grenades/smoke.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Energy/energy.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Energy/hitscan.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Energy/magenergy.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Misc/misc.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Pistols/Pistols.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/SMGs/SMGs.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/guns64.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/guns64super.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/pulse.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Melee/blunt.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Melee/sword.yml
Labels: Changes: Localization, No C#

#59 Translation
  Content.Client/UserInterface/Systems/Character/CharacterUIController.cs
  Resources/Locale/ru-RU/backmen/objectives/conditions/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/flesh_heart.ftl
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/Anti-tank-cartridge.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/grenade.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Clothings/Powerpack.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Magazine/caseless_rifle.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Magazine/energy.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Magazine/heavy.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Magazine/pistol.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Magazine/rifle.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Magazine/shotgun.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
Labels: Changes: Localization

#61 Revert "Translation"
  Content.Client/UserInterface/Systems/Character/CharacterUIController.cs
  Resources/Locale/ru-RU/backmen/objectives/conditions/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/flesh_heart.ftl
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/Anti-tank-cartridge.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/grenade.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Clothings/Powerpack.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Magazine/caseless_rifle.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Magazine/energy.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Magazine/heavy.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Magazine/pistol.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Magazine/rifle.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/Ammunition/Magazine/shotgun.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
Labels: Changes: Localization

#62 добавление всем нижней и верхней одежды.
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Fun/cluwne.yml
  Resources/Prototypes/Roles/Jobs/Fun/cult_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Fun/wizard_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/zookeeper.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/Cargo/Deliveryman.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/centcom_official.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/head_of_security.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/intern.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/private_officer.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/Misk/canned_entities.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/_Backmen/Roles/Special/explorer.yml
  Resources/Prototypes/_Backmen/Roles/Special/freelancer.yml
  Resources/Prototypes/_Backmen/Roles/Special/student.yml
  Resources/Prototypes/_Backmen/Roles/Special/unaffiliated.yml
Labels: Changes: Localization, No C#

#63 Sponsor kostyl
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Prototypes/Corvax/Loadouts/role_loadouts.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Backmen/Loadouts/role_loadout.yml
  Resources/Prototypes/_SpaceCats/Roles /play_time_trackers.yml
Labels: Changes: Localization, No C#

#69 лодауты для нижней одежды (#709)
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Client/Lobby/LobbyUIController.cs
  Resources/Locale/ru-RU/backmen/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Backmen/Loadouts/Miscellaneous/clothingUnder.yml
  Resources/Prototypes/_Backmen/Loadouts/role_loadout.yml
Labels: Changes: Localization

#70 Теперь бельё может насытить моль, просто их съев.
  Resources/Prototypes/_Backmen/Entities/Clothing/Under/pants.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Under/shirts.yml
  Resources/Prototypes/_Backmen/Entities/Clothing/Under/socks.yml
Labels: No C#

#71 Transfer of the Admiral to the NSCC.
  Resources/Locale/ru-RU/backmen/prototypes/entities/objects/Devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/backmen/entities/structures/doors/airlocks/access.ftl
  Resources/Prototypes/_Backmen/Access/centcom.yml
  Resources/Prototypes/_Backmen/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_Backmen/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_Backmen/Roles/Jobs/CentCom/centcom_admiral.yml
Labels: Changes: Localization, No C#

#72 remove book
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/_Backmen/Entities/Objects/Misc/authorbooks.yml
Labels: No C#

#73 Удаляем временный спонсоркий костыль
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Prototypes/Corvax/Loadouts/role_loadouts.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Backmen/Loadouts/role_loadout.yml
  Resources/Prototypes/_SpaceCats/Roles /play_time_trackers.yml
  Resources/Prototypes/_SpaceCats/Roles /sponsor.yml
Labels: Changes: Localization, No C#

#75 ИИ может видить должности, статус и здоровье.
  Resources/Prototypes/_Backmen/Entities/Mobs/Player/stationai.yml
Labels: No C#

#76 На всех станциях открыты БС дроны.
  Resources/Prototypes/Corvax/Maps/astra.yml
  Resources/Prototypes/Corvax/Maps/avrite.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
  Resources/Prototypes/Corvax/Maps/frame.yml
  Resources/Prototypes/Corvax/Maps/gelta.yml
  Resources/Prototypes/Corvax/Maps/ishimura.yml
  Resources/Prototypes/Corvax/Maps/maus.yml
  Resources/Prototypes/Corvax/Maps/outpost.yml
  Resources/Prototypes/Corvax/Maps/paper.yml
  Resources/Prototypes/Corvax/Maps/pearl.yml
  Resources/Prototypes/Corvax/Maps/pilgrim.yml
  Resources/Prototypes/Corvax/Maps/terra.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/europa.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/origin.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/train.yml
  Resources/Prototypes/_Backmen/Maps/backmen_aspid.yml
  Resources/Prototypes/_Backmen/Maps/backmen_kettle.yml
  Resources/Prototypes/_Backmen/Maps/no_madDelta.yml
Labels: No C#, Changes: Map

#84 Fix aHelp menu sorting
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Administration/UI/CustomControls/PlayerListControl.xaml.cs
Labels: Changes: UI

#85 Add sponsor Fredik21
  Resources/Prototypes/_SpaceCats/Sponsor/Fredik21/esmira.yml
  Resources/Prototypes/_SpaceCats/Sponsor/Loadouts/Fredik21.yml
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/blue.rsi/equipped-FEET.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/blue.rsi/icon.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/blue.rsi/meta.json
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/brassierer.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/brassierer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/brassierer.rsi/icon.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/brassierer.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/brassierer.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/brassierer.rsi/meta.json
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/kost.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/kost.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/kost.rsi/icon.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/kost.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/kost.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/kost.rsi/meta.json
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/pants.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/pants.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/pants.rsi/icon.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/pants.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/pants.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/pants.rsi/meta.json
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/toy.rsi/equipped-NECK.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/toy.rsi/icon.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/toy.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/toy.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/toy.rsi/meta.json
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/vve.rsi/equipped-HELMET.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/vve.rsi/icon.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/vve.rsi/inhand-left.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/vve.rsi/inhand-right.png
  Resources/Textures/_SpaceCats/Sponsor/Fredik21/vve.rsi/meta.json
Labels: No C#, Changes: Sprites

#86 UI to edit silicon laws from admin verb
  Content.Client/Silicons/Laws/SiliconLawEditUi/SiliconLawContainer.xaml
  Content.Client/Silicons/Laws/SiliconLawEditUi/SiliconLawContainer.xaml.cs
  Content.Client/Silicons/Laws/SiliconLawEditUi/SiliconLawEui.cs
  Content.Client/Silicons/Laws/SiliconLawEditUi/SiliconLawUi.xaml
  Content.Client/Silicons/Laws/SiliconLawEditUi/SiliconLawUi.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Silicons/Laws/SiliconLawEui.cs
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Shared/Silicons/Laws/SiliconLawEditEuiState.cs
  Resources/Locale/en-US/administration/ui/silicon-law-ui.ftl
  Resources/Locale/ru-RU/administration/ui/silicon-law-ui.ftl
Labels: Changes: Localization, Changes: UI
